[2017-05-07 10:27] mariobehling opened #1 "Add generic script to generate docs in repository and add setup info in Readme.md"
Add generic script to generate docs in repository and add setup info in Readme.md. Follow set up as used in loklak and SUSI.AI server project.

[2017-05-07 10:28] mariobehling opened #2 "Create a Sphinx theme based on the FOSSASIA theme"
Create a theme based on the FOSSASIA theme that can be used to generate docs site of our projects.

[2017-05-07 14:09] sch00lb0y commented on #1
@mariobehling i'll would like to work on this

[2017-05-08 15:54] imujjwal96 commented on #2
Theme similar to http://blog.fossasia.org/  right?

[2017-05-08 16:14] niranjan94 commented on #2
@imujjwal96 No. The theme similar to
- https://fossasia.org/
- https://2017.fossasia.org/
- http://codeheat.org/

You can also find their respective repositories

[2017-05-08 17:43] imujjwal96 commented on #2
I am not able to think of a way to theme a documentation like http://dev.loklak.org/server as those websites. The Blog's theme seems similar to it.   :innocent:

[2017-05-08 17:47] niranjan94 commented on #2
@imujjwal96
The theme is bootstrap based. So, you can customize it. A doc site cannot look exactly like a conference site.
one way I could think of (off the top of my head) is ... You can keep the navbar as it is. Split the body into 2 column layout (3 wide column - 9 wide column). The side bar can have doc level nav. The main container can have content.

The top nav can have project-level navigat

[2017-05-09 10:13] sch00lb0y commented on #1
I have made the script [](https://github.com/sch00lb0y/yaydoc). please check and let me know.

[2017-05-11 08:49] #1 closed

[2017-05-11 13:33] pri22296 opened #7 ".nojekyll file should be added when pushing to github pages"
sphinx.ext.githubpages does this, but it's not included in the default conf.py. We should either add it manually or call sphinx-quickstart with the flag --ext-githubpages

[2017-05-11 13:37] pri22296 opened #8 "Read config values from a configuration file instead of using environment variables"
Currently, If a user decides to use say  Circle CI instead of Travis CI, currently they would need to setup all the environment variables again.

[2017-05-11 13:39] niranjan94 commented on #8
@pri22296 somethings, such as `GITURL` cannot be kept in a config file on the repo since it contains sensitive information. (Github access token).

The rest can be kept in a config file if required. Let us give the user both options.

[2017-05-11 13:44] pri22296 commented on #8
@niranjan94 Yeah, that would be best. But if the user specifies a conflicting setting on both config file and as a environment variable, which one should be given precedence?

[2017-05-11 13:44] niranjan94 commented on #8
Environment variable should take precedence

[2017-05-11 13:45] niranjan94 commented on #8
But, i don't feel this is a higher priority right now. We need a proper script and theme first.

[2017-05-11 13:47] #7 closed

[2017-05-11 17:57] sch00lb0y commented on #2
i was thinking changing the header and footer of the base theme at the beginning and we'll proceed further if any customization need

[2017-05-12 05:49] imujjwal96 commented on #2
in my opinion, we should create a theme from scratch.
Also, we'll have to decide a wireframe for the documentations.

[2017-05-12 07:09] pri22296 opened #10 "Add option to specify custom url at which docs should be served"
I would like to work on this

[2017-05-12 07:19] #10 closed

[2017-05-12 07:38] mariobehling opened #12 "Implement way to directly generate a sphinx documenation site with md files instead of rst files"
The current way of creating a documentation site is as follows:
1. Usually repositories use md files on Github
2. In a project developers then convert the files to rst files manually or automatically (Readme.md to rst and /docs folder files)
3. In the next step a site in a desired repository or location is generated

In the loklak server project the PR https://github.com/loklak/loklak_server/pull/

[2017-05-12 07:45] imujjwal96 commented on #12
@mariobehling I was thinking that after we merge https://github.com/loklak/loklak_server/pull/1127  we can run that python script in the `.utility/update-docs-repo.sh` to generate .rst file from the .md file and moving that file in the subtree.

[2017-05-12 07:49] pri22296 commented on #12
@mariobehling We can use recommonmark as used [here](https://github.com/loklak/loklak_server/blob/development/docs/conf.py) in our generated conf.py to handle md files. Only those files which are included in the index.rst(usually README) need to be converted to rst explicitly. for that we can use the mentioned python script.

[2017-05-12 11:11] sch00lb0y commented on #12
as @pri22296 suggestion we can can change the config to handle md files also. now i'll make changes script for handling md files also

[2017-05-12 14:36] pri22296 commented on #2
We should inherit from the built in `basic` theme.

[2017-05-12 15:31] sch00lb0y commented on #2
yeah because if we make from scratch then it'll be separate big project

[2017-05-12 15:34] pri22296 commented on #2
also because not using `basic` would lead to a lot of duplicating things already implemented. Almost all sphinx themes, custom one included inherit from `basic`

[2017-05-12 18:48] imujjwal96 commented on #2
Since Fossasia's theme is based on Bootstrap, we can extract this bootstrap theme for Sphinx to extend to Fossasia's documentations.

Resource: https://pypi.python.org/pypi/sphinx-bootstrap-theme/

[2017-05-14 07:37] pri22296 opened #15 "Add ability to build using custom themes"
PR #13 added a configuration variable to specify a built in theme. But currently there is no way for a user to specify a custom theme from pypi.

[2017-05-14 07:37] pri22296 commented on #15
I'd like to work on this

[2017-05-14 09:05] sch00lb0y commented on #15
since we working on our own theme i don't think we need this customization

[2017-05-14 09:53] mariobehling commented on #15
We might use different themes for different projects. So, if this helps with it, then we need it.

[2017-05-14 11:22] mariobehling opened #17 "Integrate travis for build tests"
Add travis to the repo.

[2017-05-14 11:51] imujjwal96 commented on #17
Do we need Travis for unit testing of generate.sh file?

[2017-05-14 11:56] mariobehling commented on #17
This repo will be expanded step by step. One goal is to have a simple tool to be able to build documentation by entering the repository in a web form and to get the final documentation deployed via ftp or on github pages (similar to Open Event Web App). So, in this regard it makes sense to get this repository ready for tests.
![screenshot from 2017-05-14 13-54-37](https://cloud.githubusercontent.c

[2017-05-14 12:05] imujjwal96 commented on #17
So for now, we'll just have to add a sample, no-fail travis configuration which will be extended as the project updates. Is it correct?

[2017-05-14 12:07] mariobehling commented on #17
yes

[2017-05-14 12:08] imujjwal96 commented on #17
Thanks a lot for the clarification.

[2017-05-14 12:35] #17 closed

[2017-05-14 13:34] sch00lb0y opened #21 "Add copyright information to generate docs"
configure conf.py_t to show copyrights

[2017-05-14 14:10] sch00lb0y opened #23 "Cleanup working directory after generation and upload of docs"
remove generate.sh once documentation get generated to avoid conflicts if any deploy script
executed

[2017-05-14 14:13] #21 closed

[2017-05-14 14:55] #23 closed

[2017-05-14 14:56] #15 closed

[2017-05-15 05:54] pri22296 commented on #12
To know which markdown files are included with an include directive in index.rst, we would need to parse the index.rst supplied by the user and modify it to point to our newly generated rst file. How do we do that? Any ideas? @imujjwal96 @sch00lb0y

[2017-05-15 08:53] pri22296 commented on #12
Using the idea from [this class](https://github.com/miyakogi/m2r/blob/85d21e2dd53bb65892a60795643c7b03fcbe848e/m2r.py#L472), I have introduced a new directive
mdinclude that can include markdown files. But the automatic conversion of markup documents are not 100% reliable. how do we handle those cases when due to incorrect conversion, html is not rendered properly?

[2017-05-15 11:43] sch00lb0y commented on #2
@mariobehling @niranjan94  @pri22296 @imujjwal96  I extended the Bootstrap Sphinx theme to match Fosasia's Base theme.
Please checkout the demo version at : (https://sch00lb0y.github.io/tempCheck/) and give recommendations.

[2017-05-15 12:36] pri22296 commented on #2
Just for reference, [Here](https://ryan-roemer.github.io/sphinx-bootstrap-theme/sidebar.html) is how the page would have looked without @sch00lb0y's modifications.

[2017-05-15 12:39] niranjan94 commented on #2
@sch00lb0y how was this made ? Are you using the base stylesheets of the FOSSASIA theme or are you manually styling the default bootstrap theme to look like it ?

[2017-05-15 13:02] sch00lb0y commented on #2
@niranjan94 i have used sulphur.css from codeheat repository

[2017-05-16 16:34] #12 closed

[2017-05-17 15:21] pri22296 opened #26 "Improper conversion from md to rst"
The automated conversion from md to rst conversion sometimes leads to the generated html differ from what would have been generated by original md file itself.

Using Yaydoc's own [README](https://github.com/fossasia/yaydoc/blob/4e632048c6dd35d011aa3d9d882a1825b5b37e33/README.md)

converting it to rst, the resultant page look like this
![md2rst](https://cloud.githubusercontent.com/assets/11555869/

[2017-05-18 08:31] sch00lb0y opened #27 "set correct path for dependecies"
path for mdinclude is set towards` /scripts` instead of `yaydoctemp/scripts` so it causing
import error
[code]
[travis build log](https://travis-ci.org/sch00lb0y/tempCheck/builds/233525746)

[2017-05-18 08:32] sch00lb0y commented on #27
I would like to work on this.
Thanks

[2017-05-18 08:52] niranjan94 commented on #27
@sch00lb0y the path is correct. The modules should be relative to this repo. `yaydoctemp` is just a temporary folder created. That shouldn't be hardcoded in the script.

To fix this error, ensure the scripts are executed from the proper directory.

[2017-05-18 09:00] sch00lb0y commented on #27
@niranjan94 I got it. i'll make change according to that.
Thanks

[2017-05-18 09:03] pri22296 commented on #27
But sphinx-quickstart needs to to be run from inside the temp dir. maybe we can expose the path to scripts directory as a template variable and pass it to sphinx-quickstart from generate.sh . That way the name yaydoctemp would only be used in generate.sh script.

[2017-05-18 09:06] niranjan94 commented on #27
@pri22296 can we not run `sphinx-quickstart` from the `yaydoc` directory pass the path to the `temp` directory as an argument instructing `sphinx-quickstart` to pick files from there

[2017-05-18 09:06] niranjan94 commented on #27
I specifically mean `sourcedir` in `sphinx-build [options] sourcedir builddir [filenames]`

[2017-05-18 09:07] niranjan94 commented on #27
I mean `projectdir` argument of `sphinx-quickstart [options] [projectdir]`

[2017-05-18 09:11] pri22296 commented on #27
@niranjan94 that would be best.

[2017-05-18 14:45] pri22296 commented on #27
@niranjan94 No matter where we call sphinx-quickstart from, the conf.py file will be generated in the temp directory, so it will still need to refer to yaydoctemp dir to call scripts it contains.

[2017-05-18 15:39] imujjwal96 opened #29 "[Question] Is it mandatory to configure travis with language set to python?"
In the documentation of this project, it is mentioned that I have to configure my travis as follow:
![image](https://cloud.githubusercontent.com/assets/8245662/26210704/1b0baf38-3c0e-11e7-9dd2-3a5b37c791cb.png)

My question is, since I have a project in PHP which uses travis to build unit tests, I have to set PHP as my language. How would yaydoc integrate with my project then?

[2017-05-18 15:44] niranjan94 commented on #29
@imujjwal96 this is a good question.

AFAIK, it's _not_ mandatory to configure travis with language as python since every travis worker already has python installed (irrespective of what language you select). But I'm not sure which version of python will be available.

[2017-05-18 15:51] pri22296 commented on #29
@niranjan94 By default python 2.7 should be available. https://docs.travis-ci.com/user/languages/python/#Default-Python-Version
To use python 3:
- use sudo to install python3
- or, use addons as mentioned in this stackoverflow answer http://stackoverflow.com/a/37660551/4127836

[2017-05-18 15:52] niranjan94 commented on #29
@pri22296 thank you for the follow up. Could you update the README and add an alternative configuration for people who use a different language ?

[2017-05-18 15:58] imujjwal96 commented on #29
For reference: https://travis-ci.org/imujjwal96/prelimQuiz/jobs/233691751

[2017-05-18 17:28] #27 closed

[2017-05-19 09:45] sch00lb0y commented on #2
I have improved the theme. Please kindly check the [demo](https://sch00lb0y.github.io/tempCheck/)
@niranjan94 @pri22296 @imujjwal96 please give me your input

[2017-05-19 09:50] pri22296 commented on #2
![screenshot 17](https://cloud.githubusercontent.com/assets/11555869/26242573/80a65dc8-3ca6-11e7-8f48-c940a94199ca.png)

@sch00lb0y
The topmost line is partially hidden by the menu bar.

[2017-05-19 10:01] imujjwal96 commented on #2
- The Fossasia's template has a fixed max-width (i guess it'd be 1600px).
- The main content has a white background, with the padding having color #eee

![image](https://cloud.githubusercontent.com/assets/8245662/26242765/30154ff8-3ca7-11e7-8774-8144bbbd4c7d.png)

Quoting @niranjan94:

I agree with Niranjan and think the site would look more appealing if we have the sidebar or the side of the main

[2017-05-19 10:16] sch00lb0y commented on #2
@pri22296 @imujjwal96 i'll make changes. Thanks

[2017-05-19 16:50] imujjwal96 opened #31 "Update README file"
The README file is not much descriptive and leaves certain aspects under assumption.

Quoting @pri22296's comment https://github.com/fossasia/yaydoc/pull/30#issuecomment-302753608

[2017-05-19 16:52] imujjwal96 commented on #31
I will be making changes to the file after doing proper tests related to #30. Just want to make sure nothing is left.

[2017-05-19 17:36] sch00lb0y commented on #2
@pri22296 @imujjwal96 [link](https://sch00lb0y.github.io/tempCheck/index.html) check this. i have added left sidebar and changed background to white
Thanks!

[2017-05-19 18:18] imujjwal96 opened #32 "Cannot have index.rst file in the root directory."
When I attempted to generate documentation of my project through yaydoc, there was an issue that when the index.rst file is kept in the root directory setting DOCPATH as `/` and `./` didn't work.
Eventually had to copy the index.rst file in `docs` folder.

[2017-05-19 18:19] pri22296 commented on #32
@imujjwal96 I'll have a look at it.

[2017-05-19 18:21] imujjwal96 opened #33 "Have to manually create gh-pages branch"
When I attempted to generate documentation of my project through yaydoc, the Travis CI build failed because `branch gh -pages was not found`.
I think such a check can be made in the script itself and we can avoid cloning the branch if it does not exist.

[2017-05-20 04:52] pri22296 commented on #32
@imujjwal96 I believe the cause of this error is that we are creating our temporary directories in root itself. so if the DOCPATH is also specified as root, generate.sh copies everything including the entire virtual environment as well inside yaydoctemp. I think creating the temporary directories outside the root should solve this issue.

[2017-05-20 05:19] sch00lb0y commented on #33
@imujjwal96 I'll write the test for this

[2017-05-20 12:38] #29 closed

[2017-05-20 12:40] mariobehling commented on #2
This issue is not solved entirely.

[2017-05-20 16:53] pri22296 opened #36 "missing import of ErrorString and SafeString in mdinclude.py"
In [mdinclude.py Line 39](https://github.com/fossasia/yaydoc/blob/b3a53e0e11201b3b01a4016fabd4eb68c3bbf767/scripts/mdinclude.py#L39) and [mdinclude.py Line 42](https://github.com/fossasia/yaydoc/blob/b3a53e0e11201b3b01a4016fabd4eb68c3bbf767/scripts/mdinclude.py#L42) SafeString and ErrorString are called directly without importing them.

[2017-05-20 16:53] pri22296 commented on #36
I'm working on this

[2017-05-20 17:06] #36 closed

[2017-05-20 17:28] sch00lb0y opened #39 "add fossasia theme to templates"
currently we don't have fossasia theme in yaydoc custom templates. so add fossasia theme and theme path in conf.py_t

[2017-05-20 17:29] sch00lb0y commented on #39
i'll work on this.
Thanks

[2017-05-20 17:32] pri22296 commented on #39
@sch00lb0y Currently, yaydoc can install custom themes from PyPI. Instead of hardcoding fossasia theme in conf.py_t, we should add the ability to install themes from a url or something like that.

[2017-05-20 17:37] sch00lb0y commented on #39
if it that case we have publish theme to PyPI. we already cloning yaydoc in travis. if we download theme from url . it increase the build time. anyway we doing this only for fossasia .

[2017-05-20 17:46] pri22296 commented on #39
Yeah but I don't think we should couple yaydoc and the theme. Yaydoc and the fossasia's theme should be usable without each other also.

[2017-05-20 17:52] sch00lb0y commented on #39
your point also valid. let's ask some suggestion from @imujjwal96 @niranjan94

[2017-05-20 18:06] #33 closed

[2017-05-20 18:26] pri22296 opened #40 "Build Log is too verbose"
Although warnings and errors from sphinx is useful as it provides debug info about the docs, we can decrease the verbosity of other steps such as

- package installation done via pip
- git rm in gh-pages dir
- log from sphinx which are not warnings or errors

Sample build log - https://travis-ci.org/pri22296/testYaydoc/builds/234470830

[2017-05-22 13:40] sch00lb0y opened #41 "stick the footer to the bottom"
if the content is less footer is going up so make the footer to stick the bottom
[example site](https://sch00lb0y.github.io/tempCheck/#)

[2017-05-22 13:40] sch00lb0y commented on #41
i'll work on this.

[2017-05-22 18:40] pri22296 commented on #40
I have reduced the verbosity of many steps in our build process which has lead to more clean build logs. But I am not able to remove the multiple instances of  `InsecurePlatformWarning` . According to [this stackoverflow answer](https://stackoverflow.com/a/29099439/4127836) we need to upgrade the python version but I am not able to use python3 in non-python travis configuration. Any suggestions? @

[2017-05-22 19:11] sch00lb0y commented on #40
instead of virtual env why don't you try `apt install python3`

[2017-05-22 19:15] pri22296 commented on #40
The virtualenv is used to make pip install work. pip install fails with a permission error on a non-python configuration. refer https://travis-ci.org/imujjwal96/prelimQuiz/jobs/233691751
I'm trying to setup our script in such a way that it works on different python versions but as we can see, virtualenv creation fails on python 3.2. should we ignore 3.2?

[2017-05-25 08:44] #40 closed

[2017-05-25 08:44] #31 closed

[2017-05-26 09:05] pri22296 commented on #26
I've come to realize that the proposed solution would be overkill. It would also never be able to perform all possible fixes. It would be better to just document these common sources of errors and let the user make the required changes in their docs.

[2017-05-26 15:32] pri22296 opened #45 "add ability to specify a logo for the project"

[2017-05-26 15:32] pri22296 commented on #45
I'm working on this

[2017-05-26 15:46] jig08 opened #46 "Including a document mentioning coding practices followed"
In most of the `FOSSASIA` projects, a certain set of guidelines are followed to make development and contribution effectual.

Kindly add a `CONTRIBUTING.md` file in [fossasia/yaydoc](https://github.com/fossasia/yaydoc) for the same following the specimen as in [github.com/fossasia/susi_android#code-practices](https://github.com/fossasia/susi_android#code-practices).

cc: @imujjwal96 @pri22296 @sch

[2017-05-26 16:47] pri22296 opened #49 "allow users to extend generated conf.py"
Currently If a file named conf.py is in the docs directory, It replaces the generated conf.py which breaks documentation. But instead of replacing, if the contents of conf.py are somehow appended to the generated conf.py, it would allow users to override certain properties which are tough to be exposed via an environment variable.

[2017-05-26 16:51] pri22296 opened #50 "setup yaydoc to be self-hosted"
We should setup yaydoc such that it uses itself to generate it's own documentation. It would serve as a good test for yaydoc

[2017-05-26 19:18] #45 closed

[2017-05-27 07:16] pri22296 opened #51 "use a python script instead of shell script for generation of docs"
This will have two major advantages

- The python script would be cross platform.
- It would be easy to perform some logic driven tasks in a python script as compared to a shell script.

[2017-05-27 08:03] sch00lb0y commented on #51
sound great but if we do once again with python it'll be duplication of work. further automation work we'll do in python and we'll execute from shell or else we'll port the entire shell script to python but we have to test a lot . it takes bit time and also it we'll be ended up in executing shell  sub process from python

[2017-05-27 08:12] pri22296 commented on #51
yeah, i agree we'll have to port the script but in the long run I think it will be beneficial.
Also, not all commands will need to be executed using `subprocess` module. The `os` module provides a lot of utility functions we can use. The cross-platform nature of the script in itself would be very beneficial.

[2017-05-27 08:18] niranjan94 commented on #51
@pri22296 this is a good idea. Go for it. This will also be beneficial for later extension.

[2017-05-27 12:05] imujjwal96 opened #52 "[Question] Adding PR and Issue templates"
Following up on #46
Is there a need to add Issue and PR templates at this moment?

[2017-05-27 17:20] jig08 commented on #52
@imujjwal96 Sure, feel free to add so. And also mention them in `CONTRIBUTING.md`

[2017-05-29 12:21] #50 closed

[2017-05-29 12:22] #39 closed

[2017-05-29 12:22] #41 closed

[2017-05-29 12:28] mariobehling opened #55 "Setup documentation for yaydoc itself in gh-pages branch"
Please create a gh-pages branch using CNAME yaydoc.fossasia.org and automatically deploy the documentation for the project itself in the gh-pages branch.

[2017-05-29 12:33] yukiisbored opened #56 "Use Travis' deploy to Github pages feature"
Travis already has it's own deployment system which you can use to deploy stuff to GitHub pages on the same/different repository. I recommend using this over doing this inside the `script` section, due to the fact you're using someone's GitHub token and it should be handled carefully.

[2017-05-29 12:35] yukiisbored commented on #51
Not a good idea. Python scripts are harder to manager over regular shell scripts. Since most of the stuff we do is using userland utilities such as `git`, `sphinx`, etc. There's no good reason to use Python scripts. Sure on one hand it makes it more "python-nic" since Sphinx is written in Python but that's not everything you're doing (like the fact this project relies heavily on using `git`)

[2017-05-29 13:46] imujjwal96 commented on #55
I don't think we have the access to create a branch in this repository. (We'll have to do that manually for the script to work)
Also for the automatic deployment, we'll need to set environment variables in Travis

[2017-05-29 13:52] pri22296 commented on #55
We don't need to create a gh-pages branch manually. PR #38 which was merged added ability to create a gh-pages branch if not already present. After the appropriate environment variables are set, the docs should be deployed automatically.

[2017-05-29 13:57] imujjwal96 commented on #55
Oh! My bad.

[2017-05-29 14:01] pri22296 commented on #56
@yukiisbored But wouldn't that couple yaydoc to travis. what if a project uses another CI?

[2017-05-29 14:12] imujjwal96 commented on #56
From what I could understand, @yukiisbored
Do we have to use the deploy command in travis configuration, as in https://github.com/loklak/loklak_server/blob/development/.travis.yml

[2017-05-29 17:04] pri22296 commented on #51
@yukiisbored I totally agree that we should not over-engineer stuff. but similar to my query at #56 , to support other CI, we would have to maintain multiple scripts(a shell script, a powershell script, etc). Or are we targeting here only projects using linux based CIs? If that is the case, ofcourse a shell script would be better.

[2017-05-30 08:22] yukiisbored commented on #51
@pri22296 Well since most CI are Linux anyway (only Appveyor that I know of that uses Windows). Just use Shell scripts.

[2017-05-31 05:55] imujjwal96 opened #59 "Separating Documentation generation and Github Pages deployment"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

There is a single script for generating documents and publishing them to gh-pages branch.
### Expected behaviour

Separating both these processes would enable many possibilities, including FTP deployment et al.

[2017-05-31 05:56] imujjwal96 commented on #59
@mariobehling @niranjan94 @jig08 @yukiisbored
@sch00lb0y @pri22296

Does this make sense?

[2017-05-31 07:31] imujjwal96 commented on #51
Close this?

[2017-05-31 08:30] imujjwal96 opened #60 "Deploy via FTP"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

The documentation after being generated are directly published to gh-pages branch
### Expected behaviour

Creating a script to deploy the static pages via FTP will also align with the UI platform, as a similar thing happen in Open-event.

[2017-05-31 08:31] imujjwal96 commented on #60
I'd like to work on this!

@mariobehling @niranjan94 @jig08 @yukiisbored
@sch00lb0y @pri22296
Opinions?

[2017-05-31 08:38] #49 closed

[2017-05-31 08:40] pri22296 opened #61 "relative links may break if DOCPATH is at depth > 1"
If DOCPATH is say dirA/dirB then user would refer to README as ../../README
but when the docs are copied to yaydoctemp that link will no longer be valid.

[2017-05-31 08:41] mariobehling commented on #60
Good idea.

[2017-05-31 08:44] imujjwal96 commented on #61
What if we access it relatively from $HOME?

[2017-05-31 08:58] pri22296 commented on #61
could you please elaborate?

[2017-05-31 10:40] imujjwal96 commented on #60
Doing some research, I came across [git-ftp](https://github.com/git-ftp/git-ftp). Quoting its documentation

I was thinking that we use it to automate the deployment via FTP.
One caveat that it has is we would still need to maintain a gh-pages branch (or any other branch) and hence it will not be totally isolated from that.

[2017-05-31 10:43] sch00lb0y opened #62 "[Question] choosing base language"
I have wrote a simple AST parser for improper conversion of md to rst #57 . but when i'm trying to parse big. i'm getting `RecursionError: maximum recursion depth exceeded in comparison`  recursion limit exceed error. so i don't think we can proceed further with python. for time being should i add recursion limit like this `sys.setrecursionlimit(35000)` or should i port the code into any other lan

[2017-06-01 01:27] yukiisbored commented on #60
FTP is awfully insecure. Like HTTP, it doesn't have any form of encryption and can be MITM'd easily. I highly recommend using SSH (aka SCP/SFTP).

Even kernel.org is closing it's FTP services due to security reasons.

[2017-06-01 01:37] yukiisbored commented on #62
I think we don't need to convert existing documents since Sphinx can technically support any type of documents, we just need a plugin that's able to parse it (like reCommonMark). I highly suggest avoid converting them without a human checking and validating it due to common problems that can happen with it.

We should just use the documents we have at first and we this is successfully deployed, we

[2017-06-01 05:02] imujjwal96 commented on #60
Should we keep the deployment limited to SFTP then?

[2017-06-01 07:26] #52 closed

[2017-06-01 08:02] pri22296 opened #63 "config values AUTHOR, VERSION, PROJECTNAME should be optional"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour
build fails if AUTHOR, VERSION and PROJECTNAME is not specified.

### Expected behaviour
sensible default values should be used if they are not specified. we already have the GITURL in a very specific format. we can also parse the AUTHOR and PROJECTNAME from that as default. Even DOCPATH could have a default value such as

[2017-06-01 11:41] sch00lb0y opened #64 "Add linter to build system"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour
right now yaydoc not having code style checker in build system. so it leads to manual check

### Expected behaviour

integrate linter in build system

### Steps to reproduce
1. add the code style to codacy

[2017-06-01 12:21] yukiisbored commented on #60
@imujjwal96 Why do we need FTP? Why not just use git?

[2017-06-01 12:45] imujjwal96 commented on #60
Its an additional feature. Somebody might need it.

[2017-06-01 13:15] yukiisbored commented on #60
To be quite honest, I'd rather implement it when it's actually needed in contrast to "someone might need it" because it just bloats your software with a bunch of useless and features that no one uses.

[2017-06-01 17:54] #26 closed

[2017-06-02 07:42] imujjwal96 commented on #59
Since the project is intended to be limited to only publish documents in gh-pages. I think this separation is no longer needed.
Close this?

[2017-06-02 07:52] pri22296 commented on #59
I think we should proceed with this. gh-pages or not, it's good idea to seperate things which are inherently not connected. It would also help with any later extension.

[2017-06-02 08:49] imujjwal96 opened #66 "Exception occurs when publishing docs via yaydoc"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

When I try to build documentation of my project using yaydoc, i get an Exception in the travis log

    Exception occurred:

    File "/home/travis/build/imujjwal96/[secure]/yaydocvenv/local/lib/python2.7/site-packages/pypandoc/__init__.py", line 325, in _convert_input

    'Pandoc died with exitcode "%s" during conversio

[2017-06-02 08:51] imujjwal96 commented on #66
@sch00lb0y Something because of your fix to issue #57 ?

[2017-06-02 11:34] imujjwal96 opened #68 "Docs are published to gh-pages even after a failed documentation generation"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

I tried to test yaydoc. Apparently, there was a bug in it which lead to a failure in documentation generation. Even after an exception was raised in the travis logs, the script continued its execution and pushed the erroneous docs.
### Expected behaviour

The execution of the script should stopped in such a case.

### Tra

[2017-06-02 11:35] imujjwal96 commented on #68
I will try to solve it.

[2017-06-02 11:47] imujjwal96 opened #69 "Write docs in the shell script to make it more readable."
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

A difficult to read shell script.
### Expected behaviour

Readable shell script with proper docs.

[2017-06-02 11:48] imujjwal96 commented on #69
Will make changes along with #59 in my next PR

[2017-06-02 12:08] imujjwal96 commented on #66
Quoting @sch00lb0y

@sch00lb0y @pri22296 Guess this is also an issue specific to having a base language other than python.

[2017-06-02 12:16] imujjwal96 commented on #68
Researching about it, I came across [Build Stages - Travis](https://docs.travis-ci.com/user/build-stages)

@mariobehling @niranjan94 @sch00lb0y @pri22296
I think this approach will work, but don't know if it will be efficient.
What do you think? 'tis a fine approach or should we tweak the script?

[2017-06-02 12:25] sch00lb0y commented on #68
if we modify the travis. installation of script will be hard for the user. i think we can solve this with simple if case

[2017-06-02 12:28] imujjwal96 commented on #68
i don't think issues like #66 will be solved by conditional statement. I might be wrong though

[2017-06-02 12:30] sch00lb0y opened #70 "Add proper path to pandoc filters"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour
path for pandoc filter are not set properly so documentation is not generating

### Expected behaviour

documentation should generate

### Steps to reproduce
1. change filters path

[2017-06-02 14:41] pri22296 commented on #66
@imujjwal96 I am afraid that conclusion is wrong about pandoc not being installed. Pandoc is clearly installed as evident from the error message. The error seems to be in the path that is being used to call the yml_filter.

[2017-06-02 14:44] pri22296 commented on #68
@imujjwal96 I agree with @sch00lb0y here. using a travis specific feature would prevent us from generalizing Yaydoc for other CIs. I think this should be solved using conditional statements in the shell script itself.

[2017-06-02 14:46] imujjwal96 commented on #66
Cannot comment on Python specific errors right now.

Also i tried it with setting python as the base language and it still fails. https://travis-ci.org/imujjwal96/mydoc/builds/238774136

[2017-06-02 14:54] imujjwal96 commented on #68
Understandable.
~But then also, we might even develop our own Github Integration.~

[2017-06-02 16:21] imujjwal96 commented on #55
Following Environment Variables with these values must be set

| Environment Variable | Value                                       |
|----------------------| ------------------------------------------------- |
| AUTHOR               | FOSSASIA   |
| DOCPATH              | docs/ |
| DOCURL               | yaydoc.fossasia.org |
| GITURL               | https://\<username\>:\<your-github-personal-to

[2017-06-02 19:41] imujjwal96 commented on #2
I was working on updating the FOSSASIA theme. There has been some update, but the theme that was taken initially now seems quite bloated. I was thinking if we could start-over from the most basic theme.
That would enable it for us to do a lot of customization.

Also, I was thinking if we could use AMP in the theme. I think it would be an amazing addition to theming

[2017-06-02 20:30] imujjwal96 commented on #60
@mariobehling what do you think?

[2017-06-03 05:59] pri22296 commented on #70
This issue is a duplicate of #66

[2017-06-03 06:35] pri22296 opened #72 "Include directive breaks relative links"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour
The include directive of docutils when use to include documents on a different level that the current, breaks any relative link.

Related issue : https://github.com/sphinx-doc/sphinx/issues/3753

### Expected behaviour
The relative links should be modified appropriately such that they do not break.

### Steps to reproduce

[2017-06-03 06:36] pri22296 commented on #72
https://github.com/fossasia/susi_server/pull/128 could be used as a reference to fix this issue.

[2017-06-03 11:16] imujjwal96 opened #73 "Test and Document generation of Documentation using various CIs"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

We've only documentation the usage of yaydoc by configuring TravisCI
### Expected behaviour

Yaydoc shouldn't be limited to TravisCI. Using it via other CI must also be documented.

[2017-06-03 11:18] imujjwal96 commented on #73
I think the first step would be to list all the CI's and create separate issue for each CI.
We can then distribute them among ourselves to work concurrently.
makes sense? @sch00lb0y @pri22296

[2017-06-03 11:22] imujjwal96 opened #74 "Automatic deployment of documents generated by yaydoc to Heroku"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

The project is currently limited to deploying web pages to Github Pages
### Expected behaviour

Extending that to deploy documentations to Heroku

[2017-06-03 11:22] imujjwal96 commented on #74
I'd be working on it.

[2017-06-03 13:32] #70 closed

[2017-06-03 13:32] #59 closed

[2017-06-03 13:32] #69 closed

[2017-06-03 16:37] pri22296 commented on #2
AMP? @sch00lb0y your views on this?

[2017-06-04 07:44] pri22296 commented on #66
This was solved by PR #67 . close this?

[2017-06-04 08:16] imujjwal96 commented on #66
@pri22296 I hope you won't mind if I test yaydoc by deploying it once.

Posted in the wrong thread before :P

[2017-06-04 09:51] #32 closed

[2017-06-04 13:25] #64 closed

[2017-06-04 15:01] imujjwal96 commented on #66
Tested, fixed :+1:

[2017-06-04 15:02] imujjwal96 commented on #66
Tested, fixed :+1:

[2017-06-04 15:02] #66 closed

[2017-06-05 11:25] imujjwal96 opened #78 "Internationalization of Sphinx documentation"
### This is a
- [ ] Bug report
- [x] Feature request

[2017-06-05 11:36] imujjwal96 commented on #2
@sch00lb0y your views on this?

[2017-06-05 12:41] sch00lb0y commented on #2
AMP is a good idea but before going to AMP. we'll fix all the css bugs. once the theme is made properly and tested. we'll raise AMP as a separate issue and we'll work on it.

[2017-06-05 12:58] imujjwal96 commented on #2
If we are going to use AMP, then the whole HTML & CSS would have to be built from scratch.

[2017-06-05 13:13] sch00lb0y commented on #2
there won't be any major change. we have to change some of the tag with AMP tags

[2017-06-05 13:27] sch00lb0y opened #79 "Add new line to code block"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

if there is no new line before code block pandoc not converting md to rst properly.
### Expected behaviour

new line has to be inserted if no new line before codeblock

### Steps to reproduce
1. add new line in the filter

[2017-06-05 13:31] sch00lb0y commented on #79
since pandoc taking the whole string as a node we won't be able to modify the filter further so we have to use our custom parser. any view @pri22296 @imujjwal96

[2017-06-05 13:36] sch00lb0y commented on #2
yeah we can't use bootstrap but right now creating from the scratch won't be good idea, but still we can optimize out bootstrap version. check this [thread](https://stackoverflow.com/questions/38063272/using-accelerated-mobile-pages-with-bootstrap). @pri22296 please give your input regarding AMP

[2017-06-05 15:24] pri22296 commented on #79
@sch00lb0y I am not able to reproduce this error locally. could you share the document you are testing on?

[2017-06-05 15:46] sch00lb0y commented on #79
@pri22296 i'm resolving your finding

[2017-06-05 15:50] pri22296 commented on #79
No point there seems to suggest that that code blocks must be preceded by a blank line. That point is about headers not code-blocks.

[2017-06-05 15:59] pri22296 commented on #79
@sch00lb0y I did some research about this issue. It seems by default pandoc uses it's own flavour of markdown which add these conditions such as headings requiring blank lines as evident at jgm/pandoc#467 . But pandoc also allows us to use a different flavour of markdown such as of Github's. Maybe we can just allow the user to change the flavour based on some environment variables. That would solv

[2017-06-05 16:03] pri22296 commented on #2
AMP seems like a good idea. but can we use it with sphinx? I could not find any information regarding that.

[2017-06-05 16:09] imujjwal96 commented on #2
Ok! Let me try and make a sample site with sphinx and AMP. If it seems possible, we can integrate it.

[2017-06-05 16:10] sch00lb0y commented on #79
yeah , sounds cool i'll make changes according to that

[2017-06-05 16:13] pri22296 commented on #2
Sounds cool

[2017-06-06 06:37] sch00lb0y opened #81 "Add ability to create documentation from diffrent input format"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Right now sphinx support only to create documentation from markdown
### Expected behaviour

Make feature to create documetation from several input format like github markdown, latex, ...

### Steps to reproduce
1. add input format to pandoc

[2017-06-06 06:38] pri22296 commented on #81
@sch00lb0y could you make this issue more clear? what kind of input formats are we talking about?

[2017-06-06 11:28] imujjwal96 commented on #2
While working on it, I came to realize that amp uses `<amp-img>` in place of `<img>` tag
What can we do about this?

[2017-06-06 12:03] sch00lb0y commented on #2
you have to make changes according to the AMP spec

[2017-06-06 12:04] imujjwal96 commented on #2
how can we change img to amp-img in sphinx?

[2017-06-06 13:10] sch00lb0y commented on #2
I think you have to do by not extending the base theme, but creating a theme without extending from the base theme will not be a good idea

[2017-06-06 14:09] pri22296 commented on #2
This may not be achieved by a theme. AFAIK Sphinx uses docutils to generate html. I think we may need to write a custom HTML writer inheriting from the built in docutils HTML writing which uses AMP HTML tags instead of HTML tags.

[2017-06-06 14:58] imujjwal96 opened #82 "Error while deploying documentation using CircleCI"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

![image](https://cloud.githubusercontent.com/assets/8245662/26835627/5639f668-4af6-11e7-8096-7eb75a8b86fa.png)

Link: https://circleci.com/gh/imujjwal96/mydoc/11

circle.yml
![image](https://cloud.githubusercontent.com/assets/8245662/26835725/8d164b8c-4af6-11e7-93c0-0921ef66dbe2.png)

After we run sphinx-quickstart, a fol

[2017-06-06 15:05] imujjwal96 commented on #82
Apparently, the reason for this error was the I had added Environment Variable
AUTHOR Ujjwal Bhardwaj
A potential bug in sphinx-quickstart and may also occur in other CI as well.

PS:- The following error doesn't occur in Travis

[2017-06-06 15:28] imujjwal96 opened #83 "Document deployment of documentation generated by yaydoc using CircleCI"
### This is a
- [ ] Bug report
- [x] Feature request

### Description
Following #73, Test and document the steps involved in generation of documentation by yaydoc and its deployment using CircleCI
### Current behaviour

Only Travis configurations have been documented for deployment.

[2017-06-06 17:19] imujjwal96 commented on #2
Should we drop the idea then?

[2017-06-06 17:36] pri22296 commented on #2
Let's keep it in our TodoList but let us first focus on the basic functionalities. AMP HTML certainly seems like a good idea but I don't think spending time on it now would be worth it. @sch00lb0y your views on this?

[2017-06-06 17:40] sch00lb0y commented on #2
yeah, we'll keep on the list. our top priority should be script and theme.  Once we did with this we'll integrate yaydoc to all fossasia repository.

[2017-06-06 17:49] imujjwal96 commented on #2
OK.den

[2017-06-06 18:54] pri22296 commented on #51
close this?

[2017-06-07 07:26] #68 closed

[2017-06-07 07:28] mariobehling commented on #83
This is not a priority. Closing it therefore.

[2017-06-07 07:28] #83 closed

[2017-06-07 07:31] mariobehling commented on #74
Yes, sure.

[2017-06-07 07:44] sch00lb0y opened #85 "Create a web ui which enable documentaion generation"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

right now yaydoc is creating documentation from travis build.
### Expected behaviour

create a web ui which enable user to create documentation.

[2017-06-07 07:49] sch00lb0y commented on #85
@pri22296 @imujjwal96 please give your input regarding this issue.
before that, we have to choose our backend language #62 . we do choose the backend language as soon as possible.

[2017-06-07 07:50] sch00lb0y commented on #62
@pri22296 @imujjwal96 please give your view fast. because we have to start the web ui #85

[2017-06-07 07:58] pri22296 commented on #85
@sch00lb0y where would the build triggered from the web ui run?

[2017-06-07 08:03] pri22296 opened #86 "Fix codacy Issues"
There are various issues from before pylint was integrated. They should be fixed.

[2017-06-07 08:04] sch00lb0y commented on #86
yeah we'll remove unwanted lints in the confic

[2017-06-07 08:05] pri22296 commented on #86
Some of the issues are genuine. They should also be fixed.

[2017-06-07 08:09] sch00lb0y commented on #85
we want generator something similar `open-event-android`. In `open-event-android` they doing the build process in aws. I think we  had to build the documentation in servers instead of Travis

[2017-06-07 08:12] sch00lb0y commented on #86
@pri22296 @imujjwal96 please list all the lint which you consider as unwanted. we'll remove those lints

[2017-06-07 08:33] mariobehling commented on #82
I think Circle-CI is not a priority now. Travis is sufficient. Anyways, it is not our long-term goal to integrate with Circle-CI. Closing it therefore due to low priority.

[2017-06-07 08:33] #82 closed

[2017-06-07 08:35] imujjwal96 commented on #85
We will have to host yaydoc in a web server. AFAIK, Azure/Google Cloud/AWS offer their services free for a trial period. We can use any one of them.

[2017-06-07 08:36] mariobehling commented on #78
What is this related to? What do you want to achieve here specifically? I have to close this issue as it lacks specifics where and what should be changed or implemented.

[2017-06-07 08:36] #78 closed

[2017-06-07 08:37] imujjwal96 commented on #82
Actually this issue wasn't related to CircleCI per se. It was more related to a bug in the Sphinx command that we have in our script. Merging #84 fixes this.

[2017-06-07 08:37] pri22296 commented on #86
For now I would suggest

- disable `import-error`
- decrease `too-few-public-method` threshold to 1
- increase `too-many-public-methods` threshold to a suitable value

[2017-06-07 08:38] mariobehling commented on #73
This is low priority. We need the project to work with Travis for now. That is sufficient. There are hardly any features in this project. Focus on developing the actual project, please.

[2017-06-07 08:38] #73 closed

[2017-06-07 08:39] mariobehling commented on #62
@yukiisbored makes sense as far as I can see. Therefore closing this.

[2017-06-07 08:39] #62 closed

[2017-06-07 08:41] pri22296 commented on #82
Yeah, I agree with @imujjwal96 . This was actually a bug in our script.

[2017-06-07 09:18] imujjwal96 commented on #85
I think we should use Ruby for the WebUI.
The main reason for this would be that Github has its own API service for Ruby and at some point we have to work on a Github Integration. So, we wouldn't have to do much refactoring then.

[2017-06-07 09:18] mariobehling commented on #56
@pri22296 Using travis is sufficient for now to get us started and proceed quickly.

[2017-06-07 09:25] pri22296 commented on #56
@mariobehling But the deploy to gh pages is already implemented in the script. From what i understand, what this Issue suggests is to replace it and use travis's deploy feature instead. But we would ultimately need to use our implementation when generating via the web-ui.

[2017-06-07 09:30] mariobehling commented on #55
@imujjwal96 Please add the variables to travis.yml and add a new deployment key to the settings following the approach mentioned in this document: https://gist.github.com/domenic/ec8b0fc8ab45f39403dd#get-encrypted-credentials

[2017-06-07 09:35] pri22296 commented on #85
Are you talking about https://github.com/octokit/octokit.rb ?

[2017-06-07 09:37] imujjwal96 commented on #85
yup!

[2017-06-07 09:41] pri22296 commented on #85
It seems officially ruby, .NET and Objective-C are supported by octokit. But there are also third party libraries available for other languages. any other reason to use Ruby? @sch00lb0y your views?

[2017-06-07 09:48] jig08 commented on #51
@niranjan94 @yukiisbored  Views on this pls.
IMO, We should stick to Shell Scripts ..

[2017-06-07 09:56] jig08 commented on #63
@pri22296 Legit. Are you working on this ?

[2017-06-07 09:57] sch00lb0y commented on #85
Since we need lot of string manipulation and computation. I feel `Go-Lang` will full fill our needs with strong computational power. I have already discussed about this is a separate [thread](https://github.com/fossasia/labs.fossasia.org/issues/210).
quoting @aviaryan 's point

[2017-06-07 09:59] pri22296 commented on #63
@jig08 If PR #84 is merged, `""` would be used as fallback. So not working on it.

[2017-06-07 10:03] pri22296 commented on #85
@sch00lb0y Since we are using sphinx do generate the documentation, I don't see where `Go-Lang` will help us with build speeds.

[2017-06-07 10:18] sch00lb0y commented on #85
sphinx is just a configurational part. if we want we can replace in future with any other powerful static generator like [HUGO](https://github.com/spf13/hugo) but we going to spend a good amount of time on building web ui so we have to choose a language with good computational speed and a good amount of string manipulation. `Go-Lang` having specific built-in type for handling strings eg: `rune`. o

[2017-06-07 12:03] pri22296 commented on #85
Hmm. makes sense. @imujjwal96 are you fine with `Go-Lang`?

[2017-06-07 13:35] mariobehling commented on #85
Please follow the Open Event Web App project and keep things simple. Did you check out the code?

[2017-06-07 15:11] #55 closed

[2017-06-07 15:46] #51 closed

[2017-06-07 15:50] mariobehling commented on #56
@pri22296 If this is already implemented then good. Closing it therefore.

[2017-06-07 15:50] #56 closed

[2017-06-07 17:01] imujjwal96 commented on #85
The Web App Project use MEAN stack components. I've seen apps using MEAN stack for Github Integrations and bash script execution as well.
Start working with it then? @mariobehling  @sch00lb0y  @pri22296

[2017-06-07 17:08] mariobehling commented on #85
MEAN or using flask as the Android generator. This would also help us to ask them for help if needed.

[2017-06-07 17:11] imujjwal96 commented on #85
I've worked with the MEAN stack before.
Also did a project in Github integration. So my vote goes to MEAN :D

[2017-06-07 17:19] mariobehling commented on #85
@imujjwal96 In this case look deeper in the code of the web app as well, please. Actually there is no usage of MongoDB and Angular. Only Node and Express are being used as well as other components.

[2017-06-08 06:15] pri22296 opened #89 "Allow usage via access token as a fallback on failure to clone via SSH url."
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Since #87 was merged, the old behaviour of using an access token with an https url was removed.

### Expected behaviour

Yaydoc should try to clone via SSH url and on failure use the value of GITURL as fallback.

[2017-06-08 06:23] pri22296 opened #90 "Update README with instructions on how to setup SSH keys"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

README does not contain any documentation about the need to setup keys

### Expected behaviour

README should contain instructions on setting up keys

[2017-06-08 06:35] imujjwal96 commented on #89
I have one doubt. When we build the WebUI, can we expect the user to submit his access token in the form? Don't you think submitting such token would be skeptical?

[2017-06-08 06:39] niranjan94 commented on #89
@imujjwal96 for the web UI, use won't be submitting access token via a form. We'll use github's OAuth authentication flow to enable users to allow access to our application and we'll obtain a repo token via that. See open-event-webapp

[2017-06-08 07:00] mariobehling commented on #89
@imujjwal96 We talked about it a few times now, could you please have a look into the actual codebase of the Open Event generators? You seem to come up with more and more questions that have already been solved elsewhere.

We have really talked about this many times now.

I urge you, please check out the Open Event generators and if there are questions feel free to ask in those channels.

[2017-06-08 07:23] imujjwal96 commented on #89
That means there is no need to implement this.
@pri22296 Close this

[2017-06-08 07:29] niranjan94 commented on #89
@imujjwal96 @pri22296 this is still required. Via the OAuth flow we'd still be getting an access token at the end from GitHub which we should be able to consume.

@pri22296 please proceed with this.

[2017-06-08 09:46] pri22296 commented on #63
This was fixed by #84

[2017-06-08 09:46] #63 closed

[2017-06-08 12:22] #61 closed

[2017-06-09 06:15] #81 closed

[2017-06-09 06:23] jig08 commented on #46
Closing for now.

[2017-06-09 06:23] #46 closed

[2017-06-09 10:40] sch00lb0y opened #92 "Directory is not cleaning up if any failure happens"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behavior

if any failure happens in the middle of execution, files created by the script is not cleaning up
### Expected behavior

files created by script should be deleted even if any failure happens

### Steps to reproduce
1.
2.
3.

[2017-06-09 10:51] imujjwal96 commented on #92
Just to be clear, the **Steps to reproduce** heading is not for the work that you'll perform to solve the issue. Instead, it is to mention the steps that were performed before the error occurred.

[2017-06-09 12:26] #92 closed

[2017-06-10 07:11] #72 closed

[2017-06-10 10:00] #89 closed

[2017-06-10 10:26] sch00lb0y opened #96 "build is not failing when there is error in cloning"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

build not failing if gh-pages cloning fails
### Expected behaviour

build should fail if gh-pages cloning fails

### Steps to reproduce
1.
2.
3.

[2017-06-11 00:58] #90 closed

[2017-06-11 01:00] #96 closed

[2017-06-11 07:58] pri22296 commented on #79
@sch00lb0y close this?

[2017-06-11 08:03] sch00lb0y commented on #79
yeah

[2017-06-11 08:03] #79 closed

[2017-06-11 11:34] #86 closed

[2017-06-11 11:55] imujjwal96 opened #100 "Enable "Download as Zip" functionality in the WebUI"
### This is a
- [ ] Bug report
- [x] Feature request

Following up #85

### Current behaviour

The WebUI only generates and stores the documentation without the functionality to access them.
### Expected behaviour

Enable "Download as Zip" functionality.

[2017-06-11 14:04] sch00lb0y opened #102 "remove unnecessary cloning in webui generate script"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

for every build webui cloning yaydoc repo. it incresing the build time
### Expected behaviour
instead of cloning copy the necessary files to temp folder to create documentation.

### Steps to reproduce
1.
2.
3.

[2017-06-11 14:25] pri22296 opened #103 "Improper codeblock in README"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

The **Using SSH** section renders in https://yaydoc.fossasia.org as follows:
![screenshot 142](https://user-images.githubusercontent.com/11555869/27011693-08e36312-4edf-11e7-86ab-86467d6e8a2b.png)

### Expected behaviour

It should render like as follows
![screenshot 143](https://user-images.githubusercontent.com/11555869

[2017-06-11 17:13] pri22296 commented on #103
This issue is due to jgm/pandoc#3733 (Incorrect parsing by pandoc's GFM reader). Leaving this issue open till it's not fixed by pandoc

[2017-06-12 05:27] #100 closed

[2017-06-12 05:52] pri22296 opened #106 "Auto generate index.rst if not present"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

without index.rst the build fails.

### Expected behaviour

if index.rst is not present, a minimal index.rst should be generated.

[2017-06-12 06:07] sch00lb0y opened #107 "create unique folder for each documentation build"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

All the generated documentation are kept in email folder and it's respective project name. since we not verifying email, we don't know how much the email is authentic and also if two person generate doc with same email and same project name, there is a huge chance of missing the documentation
### Expected behaviour

All t

[2017-06-12 06:12] pri22296 opened #108 "Unify the main generate script and the webUI/generate script"
### Current behaviour

there are two generate scripts which would be difficult to maintain.

### Expected behaviour

there should be a single generate script.

[2017-06-12 06:45] pri22296 opened #109 "Run sphinx-apidoc for python based projects"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

[sphinx-apidoc](http://www.sphinx-doc.org/en/stable/man/sphinx-apidoc.html) is not run

### Expected behaviour

sphinx provides a sphinx-apidoc command for python based projects to extract docstrings from the modules. It should be run to use that feature.

[2017-06-12 15:16] imujjwal96 opened #110 "Enable pipelining of Bash script output to UI"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

The UI receives a response after the script is executed. This creates trouble deploying the app to Heroku.
### Expected behaviour

Receive responses  from the the server, executing the script command by command

[2017-06-12 16:07] sch00lb0y opened #111 "Add ability to show the preview of the documentation"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Now the document generated from web ui can be only downloadable.
### Expected behaviour

The user also can see the preview of the documentation once it get generated.
### Steps to reproduce
1.
2.
3.

[2017-06-12 16:07] #102 closed

[2017-06-12 18:16] sch00lb0y opened #113 "remove the cloned repository after documentaion get generated."
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

now repository is clonned and kept inside the temp folder, even after documentation get generated. since we'll be running on servers it'll occupy more space if it is big repository
### Expected behaviour

remove the clonned repository once documentation get generated

### Steps to reproduce
1.
2.
3.

[2017-06-12 22:52] #107 closed

[2017-06-13 11:04] imujjwal96 opened #116 "Improving code organisation of the WebUI"
### This is a
- [ ] Bug report
- [ ] Feature request
- [x] Code cleanup

### Description
The WebUI uses Express JS framework and the development was started using the express-generator. Although express-generator has a nice way of organising the files, we needn't keep the project strictly based on it.
For example, since the project wouldn't have many routes, it would be better to have a single fil

[2017-06-13 11:15] #110 closed

[2017-06-13 12:55] imujjwal96 commented on #113
Apart from occupying space, it will also cause more troubles. The repository is cloned with the same directory name at each execution. So a user cannot create documentation of a script more than once.

[2017-06-13 13:03] imujjwal96 commented on #108
Since the generate script of the webui is constantly being updated with the inclusion of each feature, I think now would not be the perfect time to unify these two. Maybe we should postpone it to a later stage in development.
Can we tag this issue with a "Low priority" label or "Postponed" label?

[2017-06-13 14:17] sch00lb0y opened #119 "deploy webui to heroku"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

WEBUI is not deployed anywhere
### Expected behaviour

deploy the webui to heroku and make it auto-deployable.

### Steps to reproduce
1.
2.
3.

[2017-06-13 14:27] pri22296 commented on #108
sounds good. could you add an appropriate label to this issue?

[2017-06-13 15:24] mariobehling opened #120 "Make WebUI simpler"
Please simplify the WebUI as follows:

Delete
* Author (author is already defined in the github PRs)
* Version (no need, use the date and time)
* Project name and use the name from the repository stated for now
* Doc Path: Always use "/docs" for now

Doc Theme
* Change to dropdown of standard doc themes

[2017-06-13 16:37] pri22296 commented on #120
@mariobehling We do have sensible defaults for Author, version, project name. It's just that the current layout for the webUI does not consider it. would it be fine if the layout is modified to only ask for essential variables in the primary form and have a checkbox or something like that to let the user modify other non essential variables?

[2017-06-13 16:49] imujjwal96 commented on #119
Are you sure it isn't?
The last time i checked, i deployed it

[2017-06-13 16:50] imujjwal96 commented on #119
In fact i even shared it in the gitter chat

[2017-06-13 17:07] imujjwal96 commented on #108
Deserves it's own issue for discussion.
Raise one, would you?

[2017-06-13 17:10] sch00lb0y commented on #119
I agree with you @imujjwal96. intially you deployed the github oauth implementaion.can you delpoy the current version of webui and update the readme ?

[2017-06-13 17:10] imujjwal96 commented on #119
Sure.

[2017-06-13 17:16] pri22296 opened #121 "Remove travis implementation"
Since the webUI would be the primary area for users interacting with yaydoc, and we also intend use github signon to auto deploy to ghpages branch, the travis implementation becomes redundant.
Although it should not be removed, till a github hook or integration has been implemented.

[2017-06-13 17:54] imujjwal96 commented on #8
@pri22296 The last travis buid errored. Please have a look at the travis build log
  https://travis-ci.org/fossasia/yaydoc/builds/242468285

[2017-06-13 18:01] pri22296 opened #122 "global name FileNotFoundError is not defined"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

The latest travis build errored
https://travis-ci.org/fossasia/yaydoc/builds/242468285

### Expected behaviour

The build should pass succesfully

### Steps to reproduce
1. use yaydoc without a .yaydoc.yml

[2017-06-13 18:02] pri22296 commented on #122
I'm working on this

[2017-06-13 18:14] imujjwal96 commented on #121
@mariobehling  @niranjan94  What do you suggest?

[2017-06-14 09:08] pri22296 commented on #108
This is how i'm planning to solve this issue:
- Preserve the arguments based approach in `generate.2.sh`.
- Create a wrapper script for travis that just reads enviornment variables and uses it to call `generate.2.sh`
- Modify `config.py` such that, All variables which are not defined or are set as `""`, would have the defaults assigned to them or if a `.yaydoc.yml` is present, values would be read

[2017-06-14 09:17] imujjwal96 commented on #108
Priority order?

[2017-06-14 14:29] #116 closed

[2017-06-15 06:39] pri22296 commented on #113
@imujjwal96 Is that still the case? uuidv4 should be unique for each build right?

[2017-06-15 10:57] #122 closed

[2017-06-15 11:50] sch00lb0y opened #126 "run the sockets in custom namespace"
### This is a
- [ ] Feature request
- [x] Bug report

### Current behaviour

socket is running on default namespace. if two user generate documention on same time. There will be a mismatch in the log display or may different download url will be emitted
### Expected behavior

run the sockets in unique custom channel

### Steps to reproduce
1.
2.
3.

[2017-06-15 12:16] imujjwal96 commented on #126
I am not able to reproduce the error

[2017-06-15 12:32] sch00lb0y commented on #126
let say if more than five users execute generate button. they will be ended in joining the same channel. Server socket will start to emit log for the different child process. The  process which ended first will emit success event and then download URL which emitted first will be updated in all the five browsers but this some corner case which may happen

[2017-06-15 12:35] imujjwal96 commented on #126
Are you sure about that? Because from what I researched, when we use socket.emit() to emit messages, an individual connection is setup for each user communicating with the channel.

[2017-06-15 12:41] sch00lb0y commented on #126
i agree with you @imujjwal96 . I just confused with a global variable with the local variable. I'll close this issue then. Thanks for your clarification

[2017-06-15 12:42] #126 closed

[2017-06-15 12:50] sch00lb0y commented on #126
@imujjwal96 please check this [example](https://socket.io/get-started/chat/). I'm not understanding. if it this case

how everyone getting the message

[2017-06-15 12:58] imujjwal96 commented on #126
here, they use io.emit()
there is a difference between io.emit() and socket.emit()

[2017-06-15 13:00] imujjwal96 commented on #126
I request you to not raise an issue before checking if that issue even exists or not.
It'll waste your and everybody else's time

[2017-06-15 13:26] #111 closed

[2017-06-15 13:43] imujjwal96 opened #128 "Handle and validate form input both in the front-end and back-end"
### This is a
- [x] Bug report
- [ ] Feature request

Following up on https://github.com/fossasia/yaydoc/pull/94#issuecomment-307365666

### Current behaviour

Form inputs are not validated and handled
### Expected behaviour

Proper form validation both in the front-end and the back-end

[2017-06-15 14:06] #113 closed

[2017-06-15 14:08] mariobehling opened #129 "gh-pages not deployed automatically on each merged PR"
The gh-pages branch should be generated automatically on each merged PR.

[2017-06-15 14:14] imujjwal96 commented on #129
This is due to the change in the directory structure.
Will look into this.

[2017-06-15 14:15] pri22296 commented on #129
This should be fixed by #125

[2017-06-15 14:17] imujjwal96 commented on #129
@pri22296  I was thinking, since cloning yaydoc will also clone  the content from the WebUI, can we split the content required for CI to a different branch using subtrees and clone only that branch?

[2017-06-15 14:24] pri22296 commented on #129
@imujjwal96 nice idea. that should save us some build time. But let's keep that low priority. It can be done later on when we have basic functionality set up. anyways could you create a issue for the same?

[2017-06-15 14:37] imujjwal96 opened #130 "Split documentation generation content to a new branch"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

In order to generate documentation using CI, the whole yaydoc repository is cloned, including the WebUI content
### Expected behaviour

Clone only the content required to generate documentation

[2017-06-16 07:31] sch00lb0y opened #132 "add an option to WEBUI for pushing documentation to GH-PAGES"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behavior

No option to push documentation
### Expected behavior

once documentation is generated, ask the user that whether they want to push documentation or not

### Steps to reproduce
1.
2.
3.

[2017-06-16 14:34] #108 closed

[2017-06-16 14:56] pri22296 opened #134 "Incorrect branch name in generate_ci.sh"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

In #125 , I forgot to change the name of the branch to master after testing.
https://github.com/fossasia/yaydoc/blob/6d351f9cc0b8e8533ceb81948a01a982eef19a73/generate_ci.sh#L14

[2017-06-16 15:51] #128 closed

[2017-06-16 15:51] #134 closed

[2017-06-16 16:02] pri22296 commented on #129
Close this?

[2017-06-17 05:57] pri22296 opened #136 "Remove empty field validation for doc_theme"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

Currently if a user selects `custom` from the dropdown list whose value is '', we recieve an empty field error.

### Expected behaviour

we should not get that error because the current semantics suggest that empty doc_theme means reading from the `.yaydoc.yml`. Anyways empty field validation for doctheme is not required

[2017-06-17 08:56] imujjwal96 opened #138 "Allow PyPi DOCTHEME in the WebUI"
### This is a
- [ ] Bug report
- [x] Feature request

### Description
Since our generate script can handle PyPi themes, why not allow the user to input any one of them.

[2017-06-17 12:59] imujjwal96 opened #140 "Similar to Open-Event-WebApp, email generated docs and their preview link"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Identity of the downloadbale zip and the preview is lost after the webpage is closed.
### Expected behaviour

Email the user a link to downloadable zip and the preview link

[2017-06-17 13:13] #136 closed

[2017-06-17 14:03] #132 closed

[2017-06-17 15:44] pri22296 commented on #120
@mariobehling close this?

[2017-06-17 15:46] pri22296 commented on #8
close this?

[2017-06-18 06:34] #138 closed

[2017-06-18 08:59] imujjwal96 opened #142 "Ask user to input username and repository name instead of URL"
### This is a
- [ ] Bug report
- [x] Feature request

### Description

The user is asked to input a url of their repository in the webapp. Apparently, there can be different ways of inputting a URL. Asking the user to input username and repository name would be simpler for the user to input. Also, it will be simpler in our end to generate a URL from it.

[2017-06-18 09:10] pri22296 commented on #142
How about if we use a login with github option with just basic permissions like info. we can then get the user name from that and we could even display a list of all repositories of the user to select from?

[2017-06-18 09:15] imujjwal96 commented on #142
what if I want to generate a repository of any random repository?

What I plan to do here is,
When a user inputs a username, that username will be verified using the GithubAPI, after it is found that the username exist, we will do the same for his or her repository

[2017-06-18 09:20] pri22296 commented on #142
Good point about random repositories. I overlooked that. Please proceed with this.

[2017-06-18 16:07] sch00lb0y opened #145 "disable deploy button if the repository is not from github."
### This is a
- [x] Bug report
- [ ] Feature request

### Current behavior

deploy button is showing if the  repository is not from GitHub
### Expected behavior

disable deploy button  if the  repository is not from GitHub because now yaydoc OAuth supports the only github
### Steps to reproduce
1.
2.
3.

[2017-06-19 05:36] sch00lb0y opened #146 "Add test case for util"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

no test case for util decrypter file
### Expected behaviour

add test case for util decrypter file and make the test to run on every travis build
### Steps to reproduce
1.
2.
3.

[2017-06-19 07:45] pri22296 opened #148 "Provide new config var DEBUG for extended logging"
### This is a
- [ ] Bug report
- [x] Feature request

<strike>Following discussion at PR #143 , upload generated index.rst to pastebin and share the link in the build logs.</strike>
Provide a new config var DEBUG which can be set to true, to get extended logging for debugging purposes. This would also print out all auto-generated configuration files.

[2017-06-19 07:46] sch00lb0y opened #149 "add repository search feature in WebUI"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

user has to enter the whole url in the input box
### Expected behavior

add auto fill feature to the input box so that it show list of  user's repository and the user can select from the list.

### Steps to reproduce
1.
2.
3.

[2017-06-19 07:57] imujjwal96 opened #150 "Strip spaces from the start and end of the input"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

Spaces at the start and end of the input are taken as part of the input, this becomes annoying as the input is then invalidated

[2017-06-19 07:58] pri22296 commented on #149
@sch00lb0y When PR #144 gets merged, you might have to update the description of the PR

[2017-06-19 08:39] pri22296 opened #151 "Add unit tests for python modules"
### Current behaviour

The python modules are not tested.

### Expected behaviour

unit tests should be added for travis to run them.

[2017-06-19 08:49] pri22296 opened #152 "yaml file allows user to set any arbitrary environment variable"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

In the current implementation, all keys specified in the file are capitalized and exported.

### Expected behaviour

Only the environment variables relevant to documentation generation should be allowed to set.

[2017-06-19 10:50] sch00lb0y opened #154 "Add integration test for documentation generation"
### This is a
- [ ] Bug report
- [x] Feature request

### Expected behaviour

Add unit test for documentation generation. it should contain following test case.
- generate script should return exit code 0
- documentation zip file has to be created in the temp folder
- preview folder has to be created in temp folder

### Steps to reproduce
1.
2.
3.

[2017-06-19 10:53] pri22296 commented on #154
@sch00lb0y @imujjwal96 Is the document preview and zip file meant to be permanently stored? wouldn't that fill up the space very quickly?

[2017-06-19 11:28] imujjwal96 commented on #154
No, we'll keep the preview few hours and zip for few days. I am working on that in the Mail zip issue

[2017-06-19 11:30] imujjwal96 commented on #154
@sch00lb0y you must know that the tests you describe here are not unit tests. Rather, they are integration tests

[2017-06-19 15:21] #150 closed

[2017-06-19 16:30] #119 closed

[2017-06-19 17:01] mariobehling commented on #142
Please see the relevant comment here, why this is not an improvement: https://github.com/fossasia/yaydoc/pull/144#issuecomment-309502802

[2017-06-19 17:01] #142 closed

[2017-06-19 17:55] pri22296 opened #157 "Error on deploying to ghpages from yaydoc.herokuapp.com"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

While deploying docs for https://github.com/pri22296/testYaydoc2 from yaydoc.herokuapp.com, I get the following error message:

![screenshot 151](https://user-images.githubusercontent.com/11555869/27298483-6e121d74-5546-11e7-8dc5-5b27565725e0.png)

### Expected behaviour

The docs should have been successfully pushed to g

[2017-06-19 17:56] pri22296 commented on #157
@sch00lb0y @imujjwal96 Please look into this

[2017-06-19 17:59] imujjwal96 commented on #157
This is because of the absence of an environment variable in Heroku which somehow schoolboy forgot to mention.
I'll add that in Heroku now.

[2017-06-19 18:00] imujjwal96 commented on #157
If you may, `ENCRYPTION_KEY` is the environment variable

[2017-06-19 18:05] imujjwal96 commented on #157
I've added it. Can you please check again?

[2017-06-19 18:11] pri22296 commented on #157
Yeah that error has been fixed. But there seems to be a new issue again.
preview-url: http://yaydoc.herokuapp.com/preview/priyamsingh.22296@gmail.com/c2ee829b-b0f9-4e81-9ce8-a2b2bc7c5042_preview/
ghpages url: https://pri22296.github.io/testYaydoc2/

ghpages isn't rendered properly

[2017-06-19 18:12] imujjwal96 commented on #157
i dont see any difference

[2017-06-19 18:13] #157 closed

[2017-06-20 06:54] imujjwal96 opened #158 "Register repositories from WebUI for continuous deployment"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

The documentation is deployed to gh-pages, but after that deployment, there is no redeployment at each commit/change in the docs.
### Expected behaviour

Docs should be redeployed after each change in them

[2017-06-20 07:15] imujjwal96 commented on #158
I can think of two ways of solving this. Since we are not inclined towards creating our own integration yet, we can ask the user to update their travis configuration. Or, we can ourselves parse their `.travis.yml` (if it exists) and add the necessary configuration for our app.

@pri22296 @sch00lb0y  opionions?

[2017-06-20 07:32] pri22296 commented on #158
How about if we create a github hook and use it to build and publish on each commit? would that work?

[2017-06-20 07:39] pri22296 commented on #148
considering https://github.com/fossasia/yaydoc/pull/143#issuecomment-309492484, how about if we create an extra variable `DEBUG`, which if true would log certain things such as the autogenerated index.rst? @imujjwal96 your views?

[2017-06-20 07:41] imujjwal96 commented on #158
Can you please elaborate? How it will work?

[2017-06-20 07:45] imujjwal96 commented on #148
where will we use it in the WebUI? A checkbox?

[2017-06-20 07:48] pri22296 commented on #158
AFAIK, a github hook would recieve json similar to https://gist.github.com/gjtorikian/5171861 on each push event. we can extract the url of the HEAD and build and push to ghpage from it. Never worked with github hooks before so can't say anything about details.

[2017-06-20 07:49] imujjwal96 commented on #158
i haven't either. Does this require any work from our server?

[2017-06-20 07:51] pri22296 commented on #148
Currently most of the configuration variables are not available from the webUI for simplicity. Although if added, a checkbox seems fine for such a purpose. Anyways for now, it would available by either an environment variable or specifying in the `.yaydoc.yml` file.

[2017-06-20 07:53] pri22296 commented on #158
Sorry, I didn't consider that. If that's the case, webhooks may be a no-no. specifying instrcutions for travis.yml seems to be the only option then. could you elaborate the second idea?

[2017-06-20 07:59] imujjwal96 commented on #158
we can add to the travis.yml of the main branch of their repository, the configurations required to deploy documentations.

[2017-06-20 08:03] pri22296 commented on #158
Ok that's a good idea. but we might need to be careful though with directly modifying travis.yml. It would be best if we could display the new travis.yml before pushing and only if the user agrees, then push the changes.

[2017-06-20 08:26] pri22296 commented on #149
Since #144 was closed, this no longer makes sense. close this? @sch00lb0y @imujjwal96

[2017-06-20 08:56] imujjwal96 commented on #158
Should we make an editable display? The user will be able to edit the file at the time of its preview.

[2017-06-20 08:58] pri22296 commented on #158
good idea

[2017-06-20 08:59] imujjwal96 commented on #158
Can you start the work with writing the script.
I'll update the WebUI

[2017-06-20 09:04] pri22296 commented on #158
Just to be clear, we'll need to add [this](https://github.com/fossasia/yaydoc#travis-configuration) right?

[2017-06-20 09:13] imujjwal96 commented on #158
No, this is deprecated now. Please look at this repository's `.travis.yml`, as we will deploy the docs only when the previous tests have passed.

[2017-06-20 09:21] imujjwal96 commented on #158
@pri22296 What about the environment variables?

[2017-06-20 09:27] pri22296 commented on #158
I'm not sure if we can run multiple commands in the script deployment with travis. https://docs.travis-ci.com/user/deployment/script/
If we expose environment variables in the webUI, we might add them to travis.yml. I don't know how OAUTH_TOKEN would be handled though here. users would still need to set it up manually or use ssh. I don't think we can automate that.

[2017-06-20 09:36] imujjwal96 commented on #158
We do receive a token for the WebUI to publish the docs. Can we use that here?

[2017-06-20 09:40] pri22296 commented on #158
we'll need to encrypt that. so we would also need user's travis's login information! It can be done. but it would be much work both in the UI end and in the script. Maybe postpone this for the future. For the time being we could use your first idea of just displaying what to add in travis.yml. Anyways, It would be a one time addition so shouldn't matter much to the user.

[2017-06-20 10:08] imujjwal96 commented on #158
I dont think so

[2017-06-20 10:10] imujjwal96 opened #160 "Handle Multiple Repositories with Yaydoc"
### This is a
- [x] Feature request
- [ ] Bug report

## Description
Currently, yaydoc can only generate and deploy documentation of a project hosted in a single repository.
Since there are multiple open source projects that are not limited to only a single repository, and have multiple subprojects that are dependent on a master project, we need yaydoc to be competent Enugu to generate a single st

[2017-06-20 10:11] imujjwal96 commented on #160
@pri22296  @sch00lb0y  Ideas?

[2017-06-20 10:43] #152 closed

[2017-06-20 10:56] sch00lb0y commented on #160
I was doing research on this. we can clone all the repository doc and we'll create an index documentation page in which create a relation to all the documentation.

[2017-06-20 11:03] pri22296 commented on #160
I think we need functionality similar to http://docs.readthedocs.io/en/latest/subprojects.html. To achieve this, we may take a list of subprojects and their docpath's as input. we would copy the respective subproject's docpath as a subfolder of the master project's docpath. we'll also need to generate a proper index.rst(this might be left for now. for now let's expect users to fill the index.rst a

[2017-06-20 11:31] imujjwal96 commented on #160
A new repository for documentation or the master repository with docs deployed in `gh-pages`?

[2017-06-20 11:33] imujjwal96 commented on #160
What would be the flow now?
Should we first create a script and work with Travis implementation, like we did with Single Repository? Or should we keep both UI and backend in sync?

[2017-06-20 12:21] #109 closed

[2017-06-20 12:22] #146 closed

[2017-06-20 12:23] #145 closed

[2017-06-20 13:18] pri22296 commented on #160
I vote for the the first approach.

could you elaborate?

[2017-06-20 13:44] imujjwal96 commented on #160
Where should the documentation generated be published? :)

[2017-06-20 13:50] pri22296 commented on #160
The user would have to create a new repository to act as a holder project(like dev.loklak.org) and use yaydoc on the master project. Now building the holder project, would also clone all it's sub-projects and the generated documentation would be published to the ghpages branch of the holder project.

[2017-06-20 14:18] imujjwal96 commented on #160
Ok! So that means, the travis configuration will exist in the holder project. It will have the information about the repositories that will be cloned.

[2017-06-20 14:21] imujjwal96 commented on #160
What if a project doesn't have any master repository?

[2017-06-20 14:43] pri22296 commented on #160
User would need to create one. I can't think of any other way.

[2017-06-20 14:49] imujjwal96 commented on #160
if the user doesn't have a master repository, then the documentation repository will have the markdown for the start page.
Makes sense?

[2017-06-20 14:56] pri22296 commented on #160
Nopes.

care to explain this part?

[2017-06-20 15:02] imujjwal96 commented on #160
Check this https://github.com/loklak/dev.loklak.org/issues/2

[2017-06-20 15:10] pri22296 commented on #160
cool. Let's say i have 3 projects

- projectA
- projectA-sub1
- projectB-sub2

I would setup yaydoc in projectA and set projectA-sub1 and sub2 as the sub projects. In this case there would no need to create a holder project.

But if the three projects are totally unrelated, but i want them under a single domain, in that case a seperate holder project would be required. Makes sense?

[2017-06-20 16:21] imujjwal96 commented on #160
Yes!

[2017-06-20 20:08] #106 closed

[2017-06-21 05:50] sch00lb0y commented on #160
can we have this as two issues like web UI implementation and Travis implementation? so that we'll split the work and can work together. @imujjwal96 @pri22296

[2017-06-21 07:00] imujjwal96 commented on #160
As decided, we will first work on the Travis implementation. There is no need to create a separate issue yet.

[2017-06-21 07:04] imujjwal96 commented on #160
Let's start with the project that requires creation of a Holder repository. I have this organisation https://github.com/BrimeNotes We can use it for the development.

[2017-06-21 07:15] imujjwal96 commented on #160
https://github.com/fossasia/yaydoc/issues/160#issuecomment-309719680
@pri22296 did you check if intersphinx support search functionality?

[2017-06-21 07:20] pri22296 commented on #160
I read about it and it seems search wouldn't work with it. but I didn't test it. I'll test it today.

[2017-06-21 10:56] #154 closed

[2017-06-21 11:48] imujjwal96 opened #163 "Update test cases for generate script in test.js"
### This is a
- [x] Bug report
- [ ] Feature request

### Description
Testing a function shouldn't be limited to testing it only with a case that always pass. We should also include those cases in which it is expected to fail.
For the generate script, these may include those cases in which exit codes other than code 0 is returned.

[2017-06-21 12:34] imujjwal96 commented on #160
How should we start now?
I will create a new repository in https://github.com/BrimeNotes with the name `docs`.

@pri22296   we should add the information about the sub-projects and their hierarchy in the `yaydoc.yaml` file?

[2017-06-21 12:38] pri22296 commented on #160
Yep. Also the config.py file would need to be modified accordingly. I'll submit a PR for that by today. what should be the environment variable's format??
SUBPROJECTS = url1,url2 ?? or something else?

[2017-06-21 12:53] imujjwal96 opened #165 "Mocha fails when testing crypter.js function"
### This is a
- [x] Bug report
- [ ] Feature request

### Description

![image](https://user-images.githubusercontent.com/8245662/27384956-88b959b2-56ae-11e7-997b-8ee546246489.png)

[2017-06-21 15:30] imujjwal96 commented on #163
After doing some research, it turns out that the reason for the failure of the generate script would be internal to the modules being called in the script. Hence, it would not be possible to write proper test for them.

@pri22296  @sch00lb0y  Opinions?

[2017-06-21 16:16] pri22296 commented on #163
would mocking `zip`, `sphinx-quickstart` and `make` work?

[2017-06-21 16:18] imujjwal96 commented on #163
How can we do that?

[2017-06-21 16:21] pri22296 commented on #163
maybe something from https://stackoverflow.com/questions/25399079/how-to-overwrite-a-bash-command

[2017-06-21 17:31] #165 closed

[2017-06-22 07:29] sch00lb0y commented on #160
Since you both working on Travis implementation so, I'll work on WEBUI implementation. it'll boosts the development speed as well.

[2017-06-22 11:13] #140 closed

[2017-06-22 14:32] pri22296 opened #170 "Exported variables from generate.sh may affect concurrent builds"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

See [this](https://github.com/fossasia/yaydoc/pull/162#discussion_r123515912) thread for details.
Need to investigate if this is actually a issue and if it is, instead of exporting, pass variables as parameters to `config.py`.

### Expected behaviour

### Steps to reproduce
1.
2.
3.

[2017-06-22 22:09] #148 closed

[2017-06-23 06:06] imujjwal96 opened #172 "hostname is undefined in mail sent"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

An email is sent when the user generates documentation. In that email there are links to `Preview`, `Download` and `Deploy` documentation. Unfortunately  when a link is clicked, we are lead to `http://undefined/preview/........` etc.

[2017-06-23 07:57] pri22296 commented on #160
As this is a big issue, I agree with https://github.com/fossasia/yaydoc/issues/160#issuecomment-309970408 . Let's create seperate issues. Let's keep this issue as a parent issue for tracking overall development. This would help us avoid situations like https://github.com/fossasia/yaydoc/pull/169#discussion_r123690699
@imujjwal96 @sch00lb0y Your views?

[2017-06-23 07:59] imujjwal96 commented on #160
Situations like that wouldn't have raised if Scrums of peers will be checked.
Anyway, i'm fine with separate issues.

[2017-06-23 11:09] sch00lb0y opened #173 "create script for handling multiple repository"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

currently yaydoc don't have script to handle multiple repository.
### Expected behaviour

create a script which takes `SUBPROJECT` variable as input and it generates documentation from several SUBPROJECTS URL and it'll zip it

### Steps to reproduce
1.
2.
3.

[2017-06-23 15:25] yukiisbored opened #176 "README Using SSH section is misleading"
https://github.com/fossasia/yaydoc#using-ssh is misleading on the last step, it doesn't instruct the user to change the key and the initialization vector variable names.

Travis doesn't use the same variables for every repository, the hashes in the middle of it (`encrypted_<hash>_key` and `encrypted_<hash>_iv`) are different for every repo.

Please change it, since a lot of people will ask why the

[2017-06-23 22:53] #149 closed

[2017-06-24 07:29] pri22296 opened #179 "Build Error on choosing theme as editorial_sphinx_theme"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

![screenshot 163](https://user-images.githubusercontent.com/11555869/27506733-f2846384-58dc-11e7-9f86-992906c1d9bc.png)

### Expected behaviour

### Steps to reproduce
1. go to yaydoc.herokuapp.com
2. fill the form and choose editorial_sphinx_theme

[2017-06-24 07:47] pri22296 commented on #179
@imujjwal96 how do we see `Register for continuous development` here? yaydoc.herokuapp.com is supposed to be deployed from this repo's master branch right?

[2017-06-24 07:50] imujjwal96 commented on #179
there was some error in a recent build. I'll have a look into it

[2017-06-24 08:02] imujjwal96 opened #180 "Add a `Deploy to Heroku` button for one-click deployment to Heroku"
### This is a
- [ ] Bug report
- [x] Feature request

### Description

Currently, the only way possible to deploy yaydoc to Heroku is to manually set up yaydoc with configurations before pushing it to Heroku. In https://github.com/fossasia/yaydoc/pull/124, we added an `app.json` file. Following that, a `Deploy to Heroku` button can be added for Yaydoc

[2017-06-24 14:38] imujjwal96 opened #181 "The use of ENCRYPTION_KEY and SECRET"
AFAIK, the ENCRYPTION_KEY is used in encrypting values using crypter.js whereas SECRET is used as a token for Session Secret.

The question is, can't we use just one key for both these functionalities?

[2017-06-24 14:53] pri22296 opened #182 "Unify travis instructions for python and non-python projects"
Currently one needs to add `pip install --user virtualenv`, for non-python projects. This would create difficulty with automatic modification of travis.yml (refer https://github.com/fossasia/yaydoc/pull/171#issuecomment-310673530). Since for now we are only supporting travis as ci, we could read from the travis.yml file to detect if the language is python and act according to that in `generate_ci.

[2017-06-25 00:31] #176 closed

[2017-06-25 00:32] #158 closed

[2017-06-25 00:34] #163 closed

[2017-06-25 00:37] #180 closed

[2017-06-25 07:07] pri22296 commented on #181
@sch00lb0y views?

[2017-06-25 07:12] pri22296 commented on #179
Turns out the problem is with the package itself. Even locally installing it with `pip install editorial_sphinx_theme` and then trying to import it fails. It seems that the theme wasn't packaged properly. Therefore I think we should just remove this theme from our list and replace it with some other maybe. @imujjwal96 @sch00lb0y views?

[2017-06-25 07:18] sch00lb0y commented on #181
it is better to have a different key. because `ENCRYPTION_KEY` is so sensitive because we encrypting GitHub OAuth token and we templating publically in the frontend. if secret get leaked at least `ENCRYPTION_KEY` will be safe. if we add any further secret key we'll reuse the same

[2017-06-25 19:06] pri22296 opened #185 "Errors in webUI after #171 was merged"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

- Clicking on `yaydoc documentation` in the pop up takes us to `http://yaydoc.herokuapp.com/yaydoc.fossasia.org`
- Nothing happens when `Proceed with one time deployment` is clicked.

### Expected behaviour

-  `yaydoc documentation` should have taken us to `yaydoc.fossasia.org`
- Generated docs should have been deployed

[2017-06-25 19:07] pri22296 commented on #185
@imujjwal96 could you take a look at this?

[2017-06-26 06:54] sch00lb0y opened #186 "send a themed HTML email"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Now we sending normal HTML email after documentation generation
### Expected behaviour

Instead of sending normal HTML email. send themed HTML email after documentation generation,

### Steps to reproduce
1.
2.
3.

[2017-06-26 07:54] #151 closed

[2017-06-26 07:58] sch00lb0y opened #188 "add support to create toc tree for multiple repository"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behavior

Now `genindex.py` create toc tree for an only single repository.
### Expected behavior

make a parser to create toc tree to support multiple repositories.
### Steps to reproduce
1.
2.
3.

[2017-06-26 08:39] #185 closed

[2017-06-26 08:54] pri22296 opened #190 "Add support for themes with different package and distribution names"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Currently we assume that the `distribution name` and `package name` are the same (`distribution name` is what we pip install and `package name` is what we import) . but this may not be the case for all themes such as

| Dist name | Package name |
|------------|----------------|
| Flask-Sphinx-Theme | flask_sphinx_theme |

[2017-06-27 00:47] yukiisbored commented on #186
Why do we need this? Some people (including myself) doesn't use graphical mail clients thus making HTML on mail look unreadable and garbage.

[2017-06-27 04:52] sch00lb0y commented on #186
@yukiisbored we are sending both HTML and plain text
[code]
email is generated using [mjml](http://mjml.io/). so email will be responsive across device.

[2017-06-27 12:37] #179 closed

[2017-06-27 12:40] #173 closed

[2017-06-28 05:48] sch00lb0y opened #194 "Add user defined theme support to multiple_generate script"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

by default multiple_generate.sh generating alabaster
### Expected behaviour

allow the user to define their own custom theme

### Steps to reproduce
1.
2.
3.

[2017-06-28 08:48] pri22296 opened #195 "python package is not added to sys.path so autodoc cannot import them"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

apidoc fails if the package is not already installed because the path to it is not added to sys.path

### Expected behaviour

apidoc should generate a file named py-modindex.html after build which it currently doesn't if package is not already installed.

[2017-06-28 08:54] pri22296 opened #196 "multiple_generate.sh has many duplicated contents from generate.sh"
### This is a
- [ ] Bug report
- [ ] Feature request

### Current behaviour

Currently `multiple_generate.sh` is essentially a enhanced copy of `generate.sh` which would make it hard to maintain in the long run.

### Expected behaviour

`multiple_generate.sh` should only contain code that is needed exclusively for it.  and delegate any other things to `generate.sh`. Also all existing functionality

[2017-06-28 19:01] #186 closed

[2017-06-28 20:23] #172 closed

[2017-06-29 16:42] #74 closed

[2017-06-29 17:55] #190 closed

[2017-06-29 17:55] #182 closed

[2017-06-29 18:40] imujjwal96 opened #200 "Display notifications in deployment pages"
### This is a
- [ ] Bug report
- [x] Feature request

### Description
At the current stage, the web application shows notifications of various results based on the different actions performed in the homepage. To maintain a constant flow of the application, we should also display notifications in the `deploy/github` and the `deploy/heroku` pages also.

[2017-06-30 08:23] sch00lb0y opened #202 "disable deploy link in email if repository is not from github"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behavior

deploy link is sent as email even though repository is not from GitHub
### Expected behavior

don't send deploy link if the repository is not on Github

### Steps to reproduce
1.
2.
3.

[2017-06-30 09:36] pri22296 opened #203 "Add support for documenting APIs"
### This is a
- [ ] Bug report
- [x] Feature request

### Description

Currently only APIs can be auto-extracted and documented for python projects. This should be extended to some other languages.

| Languages | Status              | Related Issue/PR |
|:------------|:---------------:|------------------|
| Python      | Supported        |                           |
| Java          |  In Progress

[2017-06-30 09:46] imujjwal96 opened #204 "Validate the heroku app name for Heroku deployment"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Right now, users can enter any name as their Heroku app name.
### Expected behaviour

Validate the user input in the heroku app name (similar to how Heroku does it.)
![image](https://user-images.githubusercontent.com/8245662/27730474-fcd765ec-5da6-11e7-9636-8a4c0205294b.png)

[2017-06-30 09:50] pri22296 opened #205 "WebUI logs do not handle newline within message"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

If a message contains newline chanracters, It is still printed as a single line.

### Expected behaviour

If a message recieved from the script contains newline character, It should be splitted into multiple lines.

[2017-06-30 10:02] pri22296 opened #206 "Add support for deploying to heroku from travis"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Currently deploying to heroku is limited to the webUI

### Expected behaviour

It should also be supported from travis for continuous deployment

[2017-06-30 16:55] #160 closed

[2017-07-01 08:52] sch00lb0y opened #209 "Add support to use existing herokuapp for deploying"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behavior

New app is created for each on every deploy
### Expected behavior

add a feature to use existing app to deploy documentation
### Steps to reproduce
1.
2.
3.

[2017-07-01 08:56] imujjwal96 commented on #209
i have already made the changes in https://github.com/fossasia/yaydoc/pull/207

[2017-07-01 12:18] sch00lb0y opened #210 "Add support for continuous deployment from yaydoc"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behavior

right now we have been using Travis to push documentation
### Expected behavior

use yaydoc instead of using Travis to push documentation

### Steps to reproduce
1.
2.
3.

[2017-07-01 12:24] sch00lb0y commented on #210
I did some research on this.
we'll have button saying that continuous deployment. if user click we'll register webhook, save the encrypted access_token in the db. if webhook triggers we'll push the generated documentation using saved access_token.
@imujjwal96 @pri22296 would love to hear your feedback on this workflow?

[2017-07-01 12:26] imujjwal96 opened #211 "Handle non-existent repositories is yaydoc WebUI"
### This is a
- [x] Bug report
- [ ] Feature request

### Description

There are some unexpected behaviours when a repository with the inputted URL does not exist. Handle this by failing fast

[2017-07-01 12:28] imujjwal96 commented on #210
We did discuss this. It is not possible to register webhook for a website hosted on Heroku

[2017-07-01 12:34] sch00lb0y commented on #210
@imujjwal96 are you sure about this. because I have seen a project which using github webhook on heroku.
https://github.com/jgierer12/prettier-github
please check

[2017-07-01 13:02] pri22296 commented on #210
It's possible but I think we discussed that with a free account this was not feasible.

[2017-07-01 13:08] sch00lb0y commented on #210
if GitHub sends webhook to Heroku then we can also push the documentation because we already pushing the documentation via Heroku. so can proceed with the above discussed flow?

[2017-07-01 13:14] pri22296 commented on #210
Yeah I understand, but let's assume when a large number say 100 projects are registered. We may recieve a large number of hooks from github simultaneously. Are you sure that with a free heroku account building 100's of projects simultaneously would be feasible?

[2017-07-01 13:27] sch00lb0y commented on #210
If that is the scenario even our web UI can't handle the situation by building 100 projects. Right now we using free tier Heroku to show the progress. If yaydoc gets more users anyways we have to scale by adding resources.it is not that we will be hosting only in free tier.

[2017-07-01 13:55] imujjwal96 commented on #210
I think that this is something that needs to be discussed with the mentors.

[2017-07-01 15:49] imujjwal96 commented on #205
@pri22296 Are you working on it? I have its solution and can send a PR right away

[2017-07-01 15:50] pri22296 commented on #205
Haven't started yet. feel free to submit a PR

[2017-07-01 17:29] pri22296 opened #214 "Progress bar finishes before website link button is displayed in heroku deploy"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

![screenshot 169](https://user-images.githubusercontent.com/11555869/27764185-b93fa186-5eb0-11e7-9a2f-15b28047530f.png)

### Expected behaviour

### Steps to reproduce
1.
2.
3.

[2017-07-01 18:06] pri22296 opened #216 "Button on the themed emails are not clickable"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

Nothing happens when clicking buttons in the themed email

### Expected behaviour

### Steps to reproduce
1.
2.
3.

[2017-07-01 18:06] pri22296 commented on #216
@sch00lb0y Please take a look into this

[2017-07-02 08:31] pri22296 opened #217 "Integrate javasphinx with yaydoc"
### This is a
- [ ] Bug report
- [x] Feature request

### Description

Parent Issue - #203

Integrate javasphinx so that java APIs can be documented

[2017-07-02 16:39] pri22296 opened #218 "Add support for installing with setup.py and mocking packages for sphinx-apidoc"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Currently If we a requirements.txt is found in the target repo's root, we pip install it.

### Expected behaviour

- If requirements.txt is not present but a setup.py is, we should install with setup.py
- Some projects may depend on C- extensions which cannot be installed with pip, for such cases allow users to specify pa

[2017-07-03 16:07] #206 closed

[2017-07-03 16:09] #202 closed

[2017-07-03 16:09] #195 closed

[2017-07-03 16:09] #200 closed

[2017-07-04 11:19] imujjwal96 commented on #214
@pri22296 are you working on this? If you wouldn't mind, i'd like to solve this issue

[2017-07-04 13:27] pri22296 commented on #214
sure

[2017-07-05 06:54] sch00lb0y opened #223 "send heroku deployment link in mail"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behavior

now we sending only GitHub deploy link
### Expected behavior

send Heroku deployment link as well in the mail

### Steps to reproduce
1.
2.
3.

[2017-07-05 11:01] #204 closed

[2017-07-05 11:02] #205 closed

[2017-07-05 11:02] #217 closed

[2017-07-05 11:02] #218 closed

[2017-07-05 14:17] imujjwal96 commented on #209
Fixed via: https://github.com/fossasia/yaydoc/pull/207

[2017-07-05 14:17] #209 closed

[2017-07-05 16:15] #216 closed

[2017-07-06 01:04] #214 closed

[2017-07-06 17:09] imujjwal96 opened #225 "Images not being rendered in generated docs"
### This is a
- [x] Bug report
- [ ] Feature request

### Description
When I generate the documentation for my project [BrimeNotes/android](https://github.com/BrimeNotes/android.git) everything is working fine, except the images are not being rendered.

Here the link to the project README.md: https://github.com/BrimeNotes/android/blob/master/README.md
Here's the link to the generated documentation

[2017-07-07 09:11] pri22296 opened #227 "Error if SUBPROJECT_URLS is defined but SUBPROJECT_DOCPATHS is not"
### This is a
- [x] Bug report
- [ ] Feature request

### Description

Currently If `SUBPROJECT_URLS` is set but `SUBPROJECT_DOCPATHS` is not, there is a error because the script assumes that both will always be set and have the same number of token seperated by comma,
This happens because of the how config.py operates. There is no way for this to be fixed without creating special cases with the c

[2017-07-07 11:50] imujjwal96 commented on #227
Here too @pri22296  :)

[2017-07-07 11:53] imujjwal96 opened #228 "Improve the Console output logs in the WebUI"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

The current behaviour of the Web User Interface is that, when a user generates the documentation after filling the details in the form, everything that the bash script outputs is spat out in the WebUI `console output` block.
### Expected behaviour

Since most of this information is irrelevant to the end user, we should av

[2017-07-07 14:07] pri22296 commented on #225
@imujjwal96 While investigating this, I realized that, The image does not render because it was never included in the build by sphinx. For sphinx to include static files, they must be placed inside the `_static` directory inside `DOCPATH`. Also for logos, I would recommend using the `LOGO` environment variable. That would give better results in this case.
However,  I found another issue related to

[2017-07-07 14:23] pri22296 opened #229 "Incorrect value passed to genindex.py when DOCPATH is ".""
### This is a
- [x] Bug report
- [ ] Feature request

### Description

When DOCPATH is `.`, the entire repo is copied to a sub-directory named `yaydoctemp`. In this case the value passed should be the path to `yaydoctemp` directory instead of the actual root directory.
But currently this is not the case which leads to incorrect paths in auto-generated `index.rst`.

[2017-07-07 18:28] sch00lb0y opened #231 "Implement yaydoc to other projects"
### This is a
- [ ] Bug report
- [x] Feature request
### Description
Implement yaydoc to the following repositories and add the respective documentation link to the README.md.
This will be used to track the progress of the implementation
- [ ] [open-event-webapp](https://github.com/fossasia/open-event-webapp)
- [ ] [open-event-android](https://github.com/fossasia/open-event-android)
- [ ] [open-ev

[2017-07-07 19:57] imujjwal96 commented on #225
@pri22296  will it be possible if we grab all the image files from the repository and copy it inside the _static directory? and then give relative links for the images

[2017-07-08 07:03] sch00lb0y opened #233 "Add test case for deploy scripts in WEBUI"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

In `test.js` test is running only for generate script
### Expected behavior

The current test also testing the script not the js function so refactor the existing test case to test the js function and also include test for deploy.js

### Steps to reproduce
1.
2.
3.

[2017-07-08 07:11] pri22296 commented on #225
Will the user provide us with a list of paths to images or we'll have to crawl the repository to search for images and copy all of them to _static? The second approach may lead to a large number of images being pushed irrespective of whether they are used or not. Would that be a problem?

[2017-07-08 09:51] #196 closed

[2017-07-08 10:40] #223 closed

[2017-07-08 11:58] imujjwal96 commented on #225
I don't think that would be possible from the webUI. Maybe we can give a Disclaimer about keeping images in the static directory. If that doesn't happen we will crawl for all the images in the repository.

[2017-07-08 13:25] pri22296 commented on #225
There are more complications here. Markdown is inherently less powerful than ReST. For ReST we have directives, such as `img` for referencing elements and sphinx resolves them while building. Markdown doesn't have them. For Markdown, there would have to be explicit links to images by the user like `_static/Logo.png`. But then this wouldn't work on github. One way I can think of is to detect and mo

[2017-07-09 06:20] imujjwal96 opened #235 "Cleaning up front-end code to enable Content Security Policy"
### This is a
- [ ] Bug report
- [ ] Feature request
- [x] Code cleanup

### Description
The front end has so different views with various actions performed on them. Unfortunately, there are certain inline and internal javascript and stylesheets which are not desirable (according to the mode of operations for Bypasses of CSP).
Reference: https://en.wikipedia.org/wiki/Content_Security_Policy#Mode_o

[2017-07-09 07:00] imujjwal96 opened #236 "Bug Report"
### This is a
- [x] Bug report
- [ ] Feature request

@pri22296  Can you please have a look at this. I guess it is due to one of your PRs
![image](https://user-images.githubusercontent.com/8245662/27991875-570dd314-64a2-11e7-8ca7-618644d64f73.png)

[2017-07-09 07:01] imujjwal96 commented on #236
@pri22296 Also you didn't add `p:` here

![image](https://user-images.githubusercontent.com/8245662/27991881-84b0842e-64a2-11e7-86cb-2dbb580bb528.png)

[2017-07-09 07:06] pri22296 commented on #236
@imujjwal96 This happens when there are no subprojects added. Never tested the Subproject PR without subprojects. My bad. PR #230 fixes the first issue. I'll make changes for the second one in that PR.

[2017-07-09 12:12] #210 closed

[2017-07-09 12:14] #229 closed

[2017-07-09 12:14] #236 closed

[2017-07-09 13:04] sch00lb0y opened #237 "Add serach bar for registering reposiotory in CI"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Now select bar is limited to choose repository from 100 repository
### Expected behaviour

make a search bar to choose from users public repository

### Steps to reproduce
1.
2.
3.

[2017-07-09 13:06] sch00lb0y opened #238 "Add support to choose theme in CI"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Now default alabaster theme is used for documentation in CI
### Expected behavior

allow user to choose their custom theme on their own

### Steps to reproduce
1.
2.
3.

[2017-07-09 13:25] pri22296 opened #239 "Links to subprojects aren't added in sidebar by the autogenerated index.rst"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

Currently It seems the toctrees for subprojects are added in the globaltoc which doesn't render on themes like alabaster by default.

### Expected behaviour

The default behaviour should be that the sidebar should always contain links to subprojects

[2017-07-09 13:55] imujjwal96 commented on #238
I guess we should let this be handled by `.yaydoc.yml`
Just like travis requires it's users to have a configuration file for it to work we should have that here as well.
@pri22296 what do you think?

[2017-07-09 13:58] pri22296 commented on #238
@imujjwal96 I agree. In the webUI, we should only ask for variables which are absolutely necessary for the build. This would help us keep the webUI clean.

[2017-07-09 14:05] imujjwal96 commented on #238
What are these variables? Can't they be added in the configuration file?

[2017-07-09 14:06] pri22296 commented on #227
@imujjwal96 @sch00lb0y I need your suggestion here. Providing the ability to set variables via environment variables apart from .yaydoc.yml is posing a difficulty here. config.py will only come into play when .yaydoc.yml has a corresponding entry. If there is no entry, environment variables are never changed as per design. So when env vars are directly defined for SUBPROJECT_URLS but not for SUBPR

[2017-07-09 14:09] pri22296 commented on #238
The only variable is GITURL. It doesn't makes sense to make this part of the yaml file as this is only used by the webUI. The idea is that user should be able to generate a minimal documentation without .yaydoc.yml. However for any customization, they would need to create the file.

[2017-07-09 14:57] imujjwal96 commented on #238
In the wake of promoting the use of .yaydoc.yml, we can keep a default theme if the file doesn't exist

[2017-07-09 14:59] imujjwal96 opened #240 "Update heroku deployment with changes in app.json"
### This is a
- [ ] Bug report
- [ ] Feature request

### Description

The app.json file needs to be updated with the features added to yaydoc in the PR https://github.com/fossasia/yaydoc/pull/219

[2017-07-09 15:01] pri22296 commented on #238
Yeah, that's already implemented. The default theme is fossasia_theme currently.

[2017-07-09 20:39] pri22296 commented on #225
@imujjwal96 It seems that sphinx already has this feature. Sphinx will include all images referenced in any document in an `_images` directory and generate appropriate links to it. It doesn't work in your case because It doesn't really understand `/Logo-branding/logo_0.5x.png?raw=true`. Removing `raw=true` does the trick. Apart from this, there were other issues related to markdown to rst conversi

[2017-07-09 22:36] #228 closed

[2017-07-10 07:39] imujjwal96 commented on #225
Amazing!!!!

[2017-07-10 08:19] imujjwal96 commented on #227
Can you elaborate the third option?

[2017-07-10 08:22] pri22296 commented on #227
By the third option I meant, `yaydoc.yml` should be enough for users to specify configuration options. Why do we also need to support setting configuration values such as themes via environment variables?

[2017-07-10 08:23] imujjwal96 commented on #227
How and where are these environment variables set?

[2017-07-10 08:29] pri22296 commented on #227
Currently for every entry in the `.yaydoc.yml`, there is a corresponding environment variable which the user can set to achieve the same result. `.yaydoc.yml` will never override environment variables if set.

Let's say, To set a theme, user can specify this in `yaydoc.yml`

[code]
or,

set DOCTHEME=sphinx_fossasia_theme as an environment variable

[2017-07-10 08:33] imujjwal96 commented on #227
in the travis configuration?

[2017-07-10 08:38] pri22296 commented on #227
Yep

[2017-07-10 08:39] imujjwal96 commented on #227
With the Webhook being introduced in the WebUI, do we really need the travis configuration?

[2017-07-10 08:54] pri22296 commented on #227
It does help with quick testing sometimes. but overall I don't think so. There is a corresponding issue for it as well at https://github.com/fossasia/yaydoc/issues/121

[2017-07-10 08:55] imujjwal96 commented on #227
Talk to mentors about it then?

[2017-07-10 08:57] pri22296 commented on #121
@mariobehling @niranjan94 Now since Continuous Integration has been introduced in the webUI, should we proceed with this?

[2017-07-10 11:07] imujjwal96 opened #242 "Errored Travis build"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

Errored Travis build.
![image](https://user-images.githubusercontent.com/8245662/28015542-11a27216-658e-11e7-9be1-7937f4682c63.png)

[2017-07-10 11:58] niranjan94 commented on #121
Yep. I think it can be removed.

[2017-07-10 13:31] pri22296 opened #244 "Refactor config.py to avoid code repetition"
### This is a
- [ ] Bug report
- [ ] Feature request

### Current behaviour

config.py has a lot of code repetition when converting Python data-types to equivalent bash variables
for eg, `True` is converted to `"true"`.

### Expected behaviour

There should be appropriate functions defined so that code repetition can be avoided

[2017-07-10 13:32] pri22296 commented on #225
@imujjwal96 Close this then?

[2017-07-10 13:37] #225 closed

[2017-07-10 16:44] imujjwal96 commented on #194
@sch00lb0y  Close this?

[2017-07-10 16:45] imujjwal96 commented on #188
@sch00lb0y What's the update on this?

[2017-07-10 16:51] pri22296 commented on #188
@imujjwal96 This issue was already fixed at #199 . Please close this.

[2017-07-10 16:52] #188 closed

[2017-07-10 17:26] #194 closed

[2017-07-10 17:52] pri22296 commented on #121
Will go ahead with this once CI deploy is in a stable condition

[2017-07-10 17:59] #240 closed

[2017-07-10 22:24] #242 closed

[2017-07-11 07:00] pri22296 commented on #238
@sch00lb0y close this?

[2017-07-11 07:11] pri22296 opened #248 "Remove fossasia_theme and make sphinx_fossasia_theme the new default theme"
### This is a
- [ ] Bug report
- [ ] Feature request

### Current behaviour

The old deprecated fossasia_theme is still present in the repository. Meanwhile it has been replaced by sphinx_fossasia_theme and is available in PyPI.

### Expected behaviour

fossasia_theme should be removed.

[2017-07-11 09:40] pri22296 commented on #239
@imujjwal96 I tried this, but i could not find a reliable way to do this without conflicting with some of the other themes. In fact, this problem seems like a issue, which should be done at the theme level. Different themes display contents in the sidebar differently. For example, AFAIK, sphinx_rtd_theme renders both the localtoc and the globltoc in the sidebar, alabaster provides a navigation.htm

[2017-07-11 13:22] imujjwal96 commented on #231
Please add the following. and maintain structure for projects with multiple repositories as given

- [ ] [query-server](https://github.com/fossasia/query-server)
- [ ] meilix
    - [meilix](https://github.com/fossasia/meilix)
    - [meilix-generator](https://github.com/fossasia/meilix-generator)
    - [meilix-systemlock](https://github.com/fossasia/meilix-systemlock)

[2017-07-11 16:47] pri22296 opened #250 "Allow option to specify a branch instead of using the default one"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Currently Yaydoc always builds documentation using the default branch of the target repository which may not be desired for some use cases.

### Expected behaviour

Users should be able to specify another branch so that documentation is build using the intended branch

[2017-07-11 16:50] pri22296 opened #251 "Provide option to specify branch and docpath in the webUI"
### This is a
- [ ] Bug report
- [x] Feature request

### Parent Issue
#250

### Current behaviour

Currently if a user wants to use another value for DOCPATH instead of the default `docs/`, they would need to create a `.yaydoc.yml` file in their repo.

### Expected behaviour

Quoting @imujjwal96 from official gitter channel of Yaydoc

with the default value as Default branch and docs/ respectivel

[2017-07-11 17:48] imujjwal96 opened #252 "CI Deploy not working"
### This is a
- [x] Bug report
- [ ] Feature request

### Description

The CI deployment is not working. I registered my repository in the Yaydoc WebUI. Making random commits in my repository has no effect and the documentation is not being generated.

Repository: https://github.com/imujjwal96/mydoc.git

[2017-07-11 17:57] pri22296 commented on #252
I'm not sure if this helps but,
Registering with the current deployment at yaydoc.herokuapp.com, in the webhook, payload URL is `undefined/ci/webhook`

[2017-07-11 18:38] imujjwal96 commented on #252
It was an issue in our own deployment.
The reason was an undefined hostname value, which was fixed by setting the config var in the Heroku deployment.

Thanks @pri22296  and @sch00lb0y
Closing this!

[2017-07-11 18:38] #252 closed

[2017-07-11 18:49] imujjwal96 opened #253 "Multiple commits on documentation generation using CI"
### This is a
- [x] Bug report
- [ ] Feature request

### Screenshot
![image](https://user-images.githubusercontent.com/8245662/28084891-b9ad258c-6697-11e7-96ab-b67791db4442.png)

![image](https://user-images.githubusercontent.com/8245662/28085279-d64587ec-6698-11e7-991e-3bd65732bbf0.png)
There have been 122 commits and it keeps increasing.

[2017-07-11 18:55] imujjwal96 opened #254 "Do not send mail when documentation is generated using CI"
### This is a
- [x] Bug report
- [ ] Feature request

### Description

A mail is sent each time the documentation is redeployed (ie., on each commit). Such a behaviour is not desired and should be removed.

![image](https://user-images.githubusercontent.com/8245662/28085184-8e016cb2-6698-11e7-9662-7b434273336a.png)

[2017-07-12 03:48] sch00lb0y commented on #253
@imujjwal96 are you working on this?

[2017-07-12 05:48] imujjwal96 commented on #253
No I'm not

[2017-07-12 10:50] imujjwal96 opened #255 "Integrating other documentation generators (like javadocs) with yaydoc"
### This is a
- [ ] Bug report
- [x] Feature request

### Description

There are certain projects, like the Susi AI Project (https://github.com/fossasia/susi_server/), which involve the use of [javadocs](http://www.oracle.com/technetwork/articles/java/index-jsp-135444.html) for generating API documentation in HTML format from Java source code. We should integrate such documentation generators with

[2017-07-12 10:53] imujjwal96 commented on #255
Here's a snippet from https://github.com/fossasia/susi_server/blob/development/.utility/push-docs-to-gh-pages.sh
![image](https://user-images.githubusercontent.com/8245662/28114371-3a5ac3e8-671e-11e7-8f0c-3e9d943dd6e7.png)

This is how the project is currently combining javadocs documentation.

@pri22296 @sch00lb0y  How can we move forward from here?

[2017-07-12 11:12] pri22296 commented on #255
From what I understand after taking a look at susi_server repository, javadoc is generated as html, and is then included in the built docs by a bash script. I'm not sure if buidling javadocs from the webUI would be viable. It would require all sorts of tools specific to java which makes sense to be present in travis, but should they also be present in the webUI? This would have been possible with

[2017-07-12 11:21] imujjwal96 commented on #255
Prepare a script and execute it by adding to the Travis configuration file!

[2017-07-12 11:23] pri22296 commented on #255
@imujjwal96 can you elaborate?

[2017-07-12 11:25] imujjwal96 commented on #255
We prepare a script that generates javadocs and publish to gh-pages and Add this script to user's travis configuration using webhook

[2017-07-12 11:29] pri22296 commented on #255
This is the script which susi_server uses for that. https://github.com/fossasia/susi_server/blob/development/gradlew . I am not sure how can we generate this and ensure that it is generic enough to be directly used in any repo. Should we really integrate it with yaydoc or just leave it to the user to do that considering each repo might have some specific needs?

[2017-07-12 11:36] imujjwal96 commented on #255
@pri22296 where are the javadocs in the ghpages branch?

[2017-07-12 11:39] pri22296 commented on #255
I wondered about that too. [This](https://github.com/fossasia/susi_server/tree/71b465bca1dca9dbd8c2a38d015e9b93e98512d2) is the last commit where javadocs are present. Not sure if this is an error.

[2017-07-12 11:41] imujjwal96 commented on #255
![image](https://user-images.githubusercontent.com/8245662/28116091-20df4a18-6725-11e7-92e8-e5d94e854ded.png)

[2017-07-12 11:58] imujjwal96 commented on #255
@pri22296  Here are the changes that caused the removal of javadoc
https://github.com/fossasia/susi_server/commit/279c0c1788042fc99306c719890fb84943a42e94

[2017-07-12 12:00] #237 closed

[2017-07-12 12:01] #244 closed

[2017-07-12 12:01] #248 closed

[2017-07-12 12:34] sch00lb0y commented on #255
btw I having one more doubt how we can link the documentation generated by the Javadoc and documentation generated sphinx together. In susi they copying the documentation generated by the Javadoc and sphinx in the folder. but then the index.html don't have relation with the documentation generated by Javadoc so if the user hit the documentation site they won't be able to see the documentation gene

[2017-07-12 12:38] imujjwal96 commented on #255
The user may manually add a link to javadocs i their README.md

[2017-07-12 12:58] sch00lb0y commented on #255
@pri22296 That script is auto generated. we don't have to care about generating that. Java project which having gradle as a build tool will have gradlew in the root dir. for example take a look of open-event-andorid https://github.com/fossasia/open-event-android/tree/development/android

[2017-07-12 13:22] pri22296 commented on #255
@sch00lb0y Do all java projects have a gradlew script at the root repository?

[2017-07-12 13:41] sch00lb0y commented on #255
nope if the java project which having Gradle as a build system it'll have gradlew file

[2017-07-12 13:45] pri22296 commented on #255
So how do we generalize it for all javaprojects? What other build systems are used and how do we generate javadoc for them?

[2017-07-12 15:20] sch00lb0y commented on #255
if they have gradlew in the root dir we'll generate from Javadoc(we have to ask root dir as well because open-event-android having their java files in the android folder) . if it doesn't we'll go with autoapi(current implementation). In order to implement in WEBUI, we need custom environment rather than HEROKU(not sure about this. Have to research whether there is any build pack).

[2017-07-13 06:49] #254 closed

[2017-07-13 09:13] imujjwal96 commented on #255
There has been some update with this.

As Susi_server is also generating API docs with Swagger, we will also have to accomodate that

[2017-07-13 10:11] imujjwal96 opened #259 "Integrating Swagger UI with yaydoc"
### This is a
- [ ] Bug report
- [x] Feature request

### Description

I did some research and also discussed with the team of susi_server. It was found that the only thing that need to exist in the gh-pages branch for Swagger to work is the Swagger-ui distribution with a change of API url in the index.html file.

The susi_server project already has the api URL set up at http://api.susi.ai/docs/sw

[2017-07-13 10:12] imujjwal96 commented on #259
Right now, I am researching about automating the build process of the UI

[2017-07-13 10:37] pri22296 commented on #259
What do you mean by integrate? How does it work exactly? Can you please elaborate?

[2017-07-13 10:42] imujjwal96 commented on #259
Swagger generates the API of a website. It also provide the [Swagger-UI](https://swagger.io/swagger-ui/) that generates a website using that API. From what i can understand, the only job at our end is to get the  static website (https://swagger.io/docs/swagger-tools/#usage-34), change the url at https://github.com/swagger-api/swagger-ui/blob/master/dist/index.html#L77 and move the directory to gh-

[2017-07-13 10:48] imujjwal96 commented on #259
The developer can specify that they are using Swagger in the `.yaydoc.yml` file along with the url of the API

[code]

and reading this info, we can generate integrate Swagger UI

[2017-07-13 10:51] imujjwal96 commented on #259
@pri22296 Do I make myself clear?

[2017-07-13 10:51] niranjan94 opened #260 "Integrate API Blueprint with yaydoc"
### This is a
- [ ] Bug report
- [x] Feature request

Similar to #259 , we will need [api blueprint](https://apiblueprint.org/) support too. You could use [aglio](https://github.com/danielgtaylor/aglio) for generating documentation from an API Blueprint file. Aglio is also node.js based and has a programatic API. So it would be be easy to integrate with the project too.

[2017-07-13 12:13] pri22296 commented on #260
@niranjan94  , I found a sphinx extension https://github.com/tk0miya/sphinxcontrib-apiblueprint which can parse `apib` files and generate documentation. The advantage of this approach would be that the `theme` would be consistent across the whole site. Should we use this instead?

[2017-07-13 12:19] #250 closed

[2017-07-13 12:22] niranjan94 commented on #260
Sure ... No problem :)

[2017-07-13 13:05] imujjwal96 commented on #251
Since #256 is merged, started working on this.

[2017-07-13 14:00] pri22296 commented on #259
@imujjwal96 It seems we only need to copy the contents of `dist` directory to ghpages. can you confirm?

[2017-07-13 14:05] imujjwal96 commented on #259
Read the descripion >.<

[2017-07-13 14:14] pri22296 commented on #259
Oh, I thought by distribution you meant the entire repo of swagger-ui. So silly of me.

Can't we just clone the repo and modify the url using regex and then copy it all to ghpages?

[2017-07-13 14:16] imujjwal96 commented on #259
instead of modifying, will it be possible to set a url variable that will take the value from yaydoc.yml

[2017-07-13 14:19] pri22296 commented on #259
I don't understand. We will modify the url used in the index with the url defined in the yaydoc.yml file. How do we avoid modification?

[2017-07-13 14:22] imujjwal96 commented on #259
![image](https://user-images.githubusercontent.com/8245662/28171007-c09475f8-6804-11e7-9205-b5fcf553afe1.png)
use a variable like `link` and set its value

[2017-07-13 14:24] pri22296 commented on #259
Yeah, that I understand. We don't have access to the repo. For that we would have to keep a copy of swagger-ui somewhere else where we can make those changes.

[2017-07-13 14:33] imujjwal96 commented on #259
What are the options?
- [ ] Host it in a subdirectory in yaydoc
- [ ] Create a new repo containing only the dist directory.
- [ ] Fork Swagger UI repo and make changes

[2017-07-13 14:36] sch00lb0y commented on #259
check whether this helps or not. there is a sphinx extension https://github.com/unaguil/sphinx-swaggerdoc. we'll improve the toc tree to add JSON file to the index.rst.

[2017-07-13 14:39] pri22296 commented on #259
@sch00lb0y I tried that extension. There are two problems with it.
- No way to integrate Swagger UI
- There are some major bugs in it currently.

[2017-07-13 14:50] pri22296 commented on #259
@imujjwal96 I support the first option. The required changes don't seem too big to have a separate repository for it. What do you prefer?

[2017-07-13 14:51] imujjwal96 commented on #259
There are approximately 30k lines of code to be added

[2017-07-13 14:52] pri22296 commented on #259
Wouldn't it be a mere copy paste?

[2017-07-13 14:53] imujjwal96 commented on #259
Ignore that comment :)

[2017-07-13 15:06] imujjwal96 commented on #251
@pri22296 what will happen when the specified docpath isn't a valid directory?

[2017-07-13 15:11] pri22296 commented on #251
https://github.com/fossasia/yaydoc/blob/1ec16711afc1b262716a4383e818f82fb336a9d7/generate.sh#L99 Here is the first time we switch to DOCPATH. what should be the behaviour of `cd` in this case?

Overall, `undefined behaviour`, probably would result in a build error

[2017-07-13 15:14] imujjwal96 commented on #251
How should i handle this?
Check if the directory exist or not. If it doesn't exist. Stop and display error?

[2017-07-13 15:15] pri22296 commented on #251
Yep, There is no reason to proceed with the build if DOCPATH is invalid.
Anyways is this related to this issue?

[2017-07-13 15:19] imujjwal96 commented on #251
Since we are letting the user input docpath from the input form, we'll have to be extra careful. We can never expect what the user may input in a form :)

[2017-07-13 15:22] pri22296 commented on #251
Cool. Just a headsup, when DOCPATH would be set from the webUI, `.yaydoc.yml` will be overridden.

[2017-07-13 15:25] imujjwal96 commented on #251
That is good! The user may test configurations from the WebUI and then set the values in their `.yaydoc.yml` for Continuous integration

[2017-07-13 15:30] pri22296 commented on #130
@imujjwal96 This is no longer needed as we are going to remove the travis implementation. close this?

[2017-07-13 15:32] #130 closed

[2017-07-13 16:07] imujjwal96 commented on #251
@pri22296 Wasn't there a default value for DOCPATH

[2017-07-13 17:01] pri22296 commented on #251
Yep there is. `docs`

[2017-07-13 17:24] imujjwal96 commented on #251
@pri22296 i think the opposite is happening

[code]

When i perform this, the output os `docs`

[2017-07-13 17:55] pri22296 commented on #251
Can you share the detailed logs?

[2017-07-13 17:57] imujjwal96 commented on #251
[code]

[2017-07-13 18:00] pri22296 commented on #251
Which repo are you using? Can you share a link?

[2017-07-13 18:01] imujjwal96 commented on #251
https://github.com/imujjwal96/prelimQuiz

[2017-07-13 18:05] pri22296 commented on #251
If you are passing the variable from the webUI, you need to `export` it otherwise config.py cannot see your variable

[2017-07-13 18:06] imujjwal96 commented on #251
okie!

[2017-07-14 04:06] #253 closed

[2017-07-14 07:03] sch00lb0y opened #263 "generate documentation only if any changes in documentation"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

documentation is generated for each and every commit in CI even if there are no changes in documentation files which wasting resources
### Expected behavior

generate documentation only if any changes happens to documentation files and also it enhances the efficiency of yaydoc

[2017-07-14 07:55] pri22296 commented on #255
@sch00lb0y any update?

[2017-07-14 09:29] imujjwal96 opened #264 "Unwanted extraneous files in gh-pages deployment"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

As it can be seen in the screenshot, there are various files and directories like `.travis.yml`, `.utility/` etc which exist in the gh-pages branch.
These are the hidden files and directories in the main branch which have not been cleaned while generating documentation.

![screenshot_20170714_145547](https://user-images.g

[2017-07-14 15:23] #121 closed

[2017-07-15 06:31] sch00lb0y commented on #255
@pri22296 it can be done on Heroku. https://devcenter.heroku.com/articles/deploying-gradle-apps-on-heroku but we can't sure that it'll work for sure. because when I'm trying to compile susi_server I got build error on my local machine. I'll ping with the susi_server developer and check what is the reason. I'll update the status here.

[2017-07-15 06:50] pri22296 commented on #259
@imujjwal96 sorry didn't see the updated comment. Shouldn't be too difficult. However, using a regex based solution would have the downside that it may break if there are some major changes in the upstream.

[2017-07-15 07:09] sch00lb0y commented on #259
may be we can use some templating like ejs or any python based templating. to replace the html.

[2017-07-15 11:07] #264 closed

[2017-07-15 12:12] imujjwal96 commented on #259
We are not planning to host our version of the swagger UI. So I don't think `templating` would work.

@pri22296 There are downsides to every approach. Which one do you think has the least?

[2017-07-15 12:18] pri22296 commented on #259
@imujjwal96 I think the best approach would using the regex based approach, but we clone a specific commit and not the latest, so that we can update it any time but the code won't break automatically. Let's go with the regex based approach.

[2017-07-15 12:22] imujjwal96 commented on #259
[code]
Is this fine for yaydoc.yml. Wll you need something similar in API Blueprint

[2017-07-15 12:28] pri22296 commented on #259
API Blueprint actually needs no configuration for now. For now anything is ok for `.yaydoc.yml` as while adding options I didn't really thought about it's design a lot. We may have to review the design of `.yaydoc.yml`later on.
Why is the ui option reqired though? Can there be another UI for swagger?

[2017-07-15 12:38] imujjwal96 commented on #259
There is `REDOC`, although we don't plan to integrate it anytime soon

[2017-07-15 12:42] pri22296 commented on #259
does REDOC also works using a swagger.json?

[2017-07-15 12:44] imujjwal96 commented on #259
Yes it does. Actually swagger follows the open api specification

[2017-07-15 14:49] sch00lb0y commented on #255
we can generate doc without any build system like Gradle. just by running `javadoc -sourcepath ./src -d ./docs`. javadoc will be installed automatically as soon as we install JDK.

[2017-07-15 20:56] #235 closed

[2017-07-16 14:39] imujjwal96 commented on #233
Close this!

[2017-07-16 14:43] #233 closed

[2017-07-16 16:43] #259 closed

[2017-07-16 17:13] #251 closed

[2017-07-17 07:06] sch00lb0y commented on #170
@pri22296 you working on this?

[2017-07-17 07:18] pri22296 commented on #170
No, Did you find out some problems during concurrent builds?

[2017-07-17 07:29] sch00lb0y commented on #170
@pri22296 Nope, but I think this is a serious issue to be taken care. because we going to integrate yaydoc to all fossasia project. we'll get more CI request yaydoc have a good chance of facing this problem. I'll investigate and I'll update the status here.

[2017-07-17 07:31] pri22296 commented on #170
@sch00lb0y I agree. Please proceed with this.

[2017-07-17 07:33] pri22296 opened #270 "Links to markdown documents aren't handled correctly"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

Links at https://imujjwal96.github.io/susi_server/#how-do-i-install-susi-ai-with-docker-on-google-cloud
are broken due the extension being `md` where it should have been `html`

[2017-07-17 07:35] pri22296 opened #271 "Review the design of yaydoc.yml"
### This is a
- [ ] Bug report
- [ ] Feature request

### Current behaviour

We never had a discussion about the design of `.yaydoc.yml`, like the number of sections, names of sections and their position. As we have begun adding yaydoc to other projects, it would be tough to later change these things. So a final review should be made,

[2017-07-17 08:00] pri22296 commented on #271
@sch00lb0y @imujjwal96 Please give your inputs regarding this. You can see the current available options for `.yaydoc.yml` at https://github.com/fossasia/yaydoc#usage

[2017-07-17 09:07] imujjwal96 commented on #271
Does the position matter?

[2017-07-17 09:25] imujjwal96 commented on #238
Closing this!

[2017-07-17 09:25] #238 closed

[2017-07-17 10:06] pri22296 commented on #271
@imujjwal96 By position I meant, whether a section should be a subsection of another section or kept as an standalone section.

[2017-07-17 13:07] imujjwal96 commented on #271
Should `apidocs` have been nested inside build?

[2017-07-17 13:07] mariobehling opened #273 "Integrate Yaydoc with all FOSSASIA projects"
Add projects to the list here and their issue in the project repository. Add information about the Yaydoc integration into the Readme.md and document it shortly in each project that is using it.

## PSLab

* PSLab Desktop Apps: Convert documentation to MD files and using Yaydoc https://github.com/fossasia/pslab-desktop-apps/issues/107 (For now keep it in the gh-pages branch)

## Phimp.me
* Create

[2017-07-17 13:37] #260 closed

[2017-07-17 14:40] mariobehling opened #274 "Add an option to integrate a twitter feed into a section"
The main site of FOSSASIA.org and the open event web app generator use loklak to show twitter feeds on the website. Please implement that option in the even dev site as well. Add an option as a field to add a twitter account into the doc generator.

[2017-07-17 14:41] mariobehling opened #275 "Add option to add RSS/XML feed of a blog to the site"
The main site of FOSSASIA.org shows a blog feed on the website. Please implement that option in the even dev site as well. Add an option as a field to add a blog feed into the doc generator.

[2017-07-17 15:32] pri22296 commented on #271
I don't know. What do you think?

[2017-07-17 16:09] imujjwal96 commented on #271
I am very bad at these 😂

[2017-07-17 16:17] pri22296 commented on #271
Haha, ok I propose the following changes

- Rename `doctheme` to `theme`
- Move `subproject` to `build`
- Create a new section `extras` which would be meant to hold features linking to external projects
- Keep `swagger`, `javadocs` to `extras`
- Maybe rename `publish` to `publishers`?

I would also like to rename `docpath`, but couldn't think of a decent name.

Please give your suggestions and you

[2017-07-17 16:59] imujjwal96 commented on #271
- Makes sense
- Makes sense
- Makes sense
- Makes sense
- Why
- DOCROOT?

[2017-07-17 17:05] pri22296 commented on #271
Yeah, `publish` seems fine. `docroot` sounds similar to `docpath`. Any suggestion where it doesn't start with `doc`? I don't know, it just doesn't sounds good. I'd be ok with it though if you are.

[2017-07-17 17:17] imujjwal96 commented on #271
`source`

[2017-07-17 17:46] sch00lb0y commented on #170
I think this won't affect the concurrent build. export variable will be accessed by the child process created by that script. please check this thread https://stackoverflow.com/questions/1158091/defining-a-variable-with-or-without-export.

[2017-07-17 18:05] pri22296 commented on #170
Oh cool. should we close this then?

[2017-07-17 18:09] #170 closed

[2017-07-18 09:20] #255 closed

[2017-07-18 09:24] imujjwal96 opened #276 "Autogenerated toctree showing internal links of files"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

Generating the docs for fossasia/pslab-desktop-apps, it was noticed that the toctree created in the autogenerated index.rst, alongwith links to external files in the docpath, also shows internal links of the files unindented.

@jithinbp mentioned it here: https://github.com/fossasia/pslab-desktop-apps/pull/159#issuecommen

[2017-07-18 09:27] imujjwal96 commented on #276
@pri22296 Can you have  a look at this

[2017-07-18 10:47] imujjwal96 commented on #276
Looking at the markdown files for mydoc, i notice that the main headers are not rendered, due to error in the original markdown. I think the absence of  a `#` header is causing this.

Also, in pslab-desktop-apps, the markdowns start with mdheaders instead of `#` header. @jithinbp

@pri22296 Can you verify if these are the sources of errors?

[2017-07-18 10:55] pri22296 commented on #276
I believe if the mdheaders like
[code]

are replaced by

[code]

The subheading will be nested properly.

[2017-07-18 10:57] imujjwal96 commented on #276
Even github handle them as a table. What can we do with it? Should we do anything?

[2017-07-18 10:58] imujjwal96 commented on #276
I don't see a mention of these headers anywhere. @pri22296 Did you find something?

[2017-07-18 11:00] pri22296 commented on #276
Currently the markdown_flavour option is only used by pandoc, not recommonmark. As most of the markdown files are processed using recommonmark which uses a CommonMark Parser. I don't think `mdheaders` are part of the commonmark spec so we can't do anything about them now.

[2017-07-18 11:01] imujjwal96 commented on #276
@jithinbp What do you say?

[2017-07-18 11:13] imujjwal96 opened #278 "Side by side images in markdowns"
### This is a
- [x] Bug report
- [ ] Feature request

### Description
One of the popular method for adding side by side images in Github markdown is to use HTML. Unfortunately, these images are not rendered in the generated static websites.
http://yaydoc.herokuapp.com/preview/ujjwalb1996@gmail.com/d7a044d8-d5c8-422d-af71-8e6465f62a8f_preview/

![image](https://user-images.githubusercontent.com/824

[2017-07-18 11:13] imujjwal96 commented on #278
@pri22296 @sch00lb0y  Any solution for this?

[2017-07-18 11:20] sch00lb0y commented on #278
Actually, we converting markdown to rst with the help of pandoc. I think the problem with pandoc. what we can do this for this exceptional case. the user has to write rst(writing our own parser won't be feasible). please check this thread for side by side image https://stackoverflow.com/questions/10219634/image-grid-in-restructuredtext-sphinx

[2017-07-18 11:22] jithinbp commented on #276
The syntax used seems to be specific to Jekyll.
The mdheaders are used to convey variables to the template files. And jekyll needs them to be right at the top.
Example
[code]
The entire markdown file can be viewed here https://raw.githubusercontent.com/fossasia/pslab-desktop-apps/development/docs/_apps/B_LEMON_CELL.md

The variables declared in the header section can include details such as author

[2017-07-18 11:46] pri22296 commented on #278
I think this can be fixed by just modifying the README just a little bit.

You can see the example [here](http://pandoc.org/try/?text=%23+Screenshot%0A%0A%3Ctable%3E%0A+%3Ctr%3E%0A++%3Ctd%3E%3Cimg+src%3D%22%2Fdocs%2Fscreenshots%2Fscreenshot_1.png%22%3E%3C%2Ftd%3E%0A++%3Ctd%3E%3Cimg+src%3D%22%2Fdocs%2Fscreenshots%2Fscreenshot_3.png%22%3E%3C%2Ftd%3E%0A++%3Ctd%3E%3Cimg+src%3D%22%2Fdocs%2Fscreenshots%

[2017-07-18 12:04] imujjwal96 commented on #278
No its not! Let me fix it and deploy again!

[2017-07-18 14:15] imujjwal96 commented on #278
http://yaydoc.herokuapp.com/preview/ujjwalb1996@gmail.com/9040e134-ec97-4815-8332-934f01937a09_preview/
Didn't work

[2017-07-18 15:36] imujjwal96 commented on #275
@mariobehling the blog feed can be added to fossasia's sphinx theme but i don't think it would be feasible to add such in other sphinx themes

[2017-07-18 15:57] imujjwal96 commented on #275
Does this mean that the user will specify an rss field in the `yaydoc.yml` file and we will generate a carousel from it in the docs website?

[2017-07-18 17:46] pri22296 commented on #278
Although, I did make this work by removing the indentation from the html, There are two reasons this will still not work.

- While including documents, we modify any links we encounter, to account for the relative paths. i.e README refers to an image like `docs/images/image_1.png` but when included from index, the path should be `images/image_1.png`. But we only modify links in markdown format(`[t

[2017-07-18 17:48] #271 closed

[2017-07-18 17:48] #270 closed

[2017-07-18 18:57] imujjwal96 commented on #278
The indentation will have to be fixed manually from user's end. We shouldn't do anything about it.
The concern for rendering images has been there. When the docpath is `docs/` the top image is not generated: http://yaydoc.herokuapp.com/preview/ujjwalb1996@gmail.com/cc38484b-5287-4361-81a2-70de21da291a_preview/
Whereas, when the docpath is `.` the docs are http://yaydoc.herokuapp.com/preview/ujjwal

[2017-07-18 19:36] imujjwal96 commented on #278
@pri22296 Can you do it with embedded HTML' src link?

[2017-07-18 20:08] imujjwal96 commented on #278
Will something like this work?
![image](https://user-images.githubusercontent.com/8245662/28337318-e3cb4426-6c22-11e7-8bbe-f278ef2054de.png)

[2017-07-19 07:36] imujjwal96 opened #280 "Enable registering organisation's repository with Yaydoc"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Users can only register their owned repositories and the repositories they've forked.
### Expected behaviour

Register organisations repositories if the user has write permission

[2017-07-19 07:43] pri22296 commented on #278
I guess yeah. Will also need to figure out a way to inc;lude those imags in the build

[2017-07-19 10:02] imujjwal96 opened #281 "Application error in WebUI on invalid token"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

if invalid values are set for username and token in the session, the application shows an Application Error Heroku Page.
![image](https://user-images.githubusercontent.com/8245662/28361758-65446fe0-6c97-11e7-8054-9563860d8fff.png)
![image](https://user-images.githubusercontent.com/8245662/28361781-76a99e04-6c97-11e7-94eb-

[2017-07-19 15:04] #281 closed

[2017-07-19 16:34] pri22296 commented on #278
I tried using a HTMLParser here instead of regex. The approach is more flexible and much more readable and It does work very well. The only downside is that if the file contains text in the form of `<tag>`, closing tags are also created. @imujjwal96 Please give your suggestion as to how to handle this or should I fallback to using regex.

[2017-07-19 16:47] imujjwal96 commented on #278
Can you please explain why the closing tag is created?
Image tag don't really need a closing tag, as <img /> works same as <img></img>

[2017-07-19 16:56] pri22296 commented on #278
No, the `img` tag is fine. What I'm actually doing is passing the entire document through a HTMLParser, and using it to access <img> and <a> tags. Now since the document would be a mix of html and normal text, It may contain lines like these.

`git clone -b <branch> <remote_repo>`

The problem is though that now the parser adds the closing tags
</branch> and  </remote_repo> at the end.

[2017-07-19 17:07] imujjwal96 commented on #278
Isn't there an option to specify valid tags?

[2017-07-19 17:32] pri22296 commented on #278
I don't think so.

[2017-07-19 17:50] imujjwal96 commented on #278
What other options do we have?

[2017-07-19 17:52] pri22296 commented on #278
I could try to compare the original document and the new documents and try to strip the extra created closing tags.

[2017-07-19 17:52] imujjwal96 commented on #278
<here> `<here>`

[2017-07-19 18:00] pri22296 commented on #278
I am not able to follow. Can you explain in more detail?

[2017-07-19 18:09] imujjwal96 commented on #278
Will it be possible to prevent the `code block` from being parsed? That is the only place where a user would provide the `<angular brackets>`

[2017-07-19 19:01] pri22296 commented on #278
I would be possible with some regex based hacks which would remove the advantage of using the advantage of a html parser in the first place. Also the regex would be complex as we would need to handle both inline and block level code blocks for both markdown and ReST. falling back to a regex based solution for now.

[2017-07-19 19:35] pri22296 commented on #278
![screenshot 186](https://user-images.githubusercontent.com/11555869/28385817-1785aa26-6ce7-11e7-92dc-8fd682507d53.png)

The solution works well. You can also see that the links have been modified according to the path.
One final challenge remains though is how to include the images in the build.
If it had been a markdown link, sphinx would have generated the appropriate link like `_static/...`.
W

[2017-07-20 08:36] pri22296 commented on #278
Upon some research, I found out that one easy way out of this situation would be to introduce a constraint that images referred using this method should be in a `_static` directory inside docpath. Sphinx would then copy those images to `_build/html/_static`. Hence the same link would work both on GitHub and generated docs

[2017-07-20 08:39] imujjwal96 commented on #278
I was thinking the same. But, can this constraint be justified?
Anyway, i think we should resort with your solution for the time being.

[2017-07-20 10:23] sch00lb0y opened #284 "add api docs support to sub project documentation generation"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behavior

sub projects are cloned and documentation is generated using sphinx
### Expected behaviour

Each project has it's own configuration like swagger, api blueprint, javadocs, so add the support for api documentation for each project and combine as a single doucmentation.

### Steps to reproduce
1.
2.
3.

[2017-07-20 13:50] #278 closed

[2017-07-20 18:15] imujjwal96 opened #287 "App crashes when the GITURL contains capital letters"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

When I tried to generate documentation of my repository: https://github.com/BrimeNotes/android.git the application crashed with logs:
![image](https://user-images.githubusercontent.com/8245662/28432328-293616ac-6da5-11e7-9e38-f67b782e8902.png)

### Expected behaviour

It is expected that the application doesn't crash even

[2017-07-21 08:57] pri22296 opened #288 "Support Index in markdown format"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

The index file which becomes the starting page of the generated docs is still required to be ReST.

### Expected behaviour

Markdown format should also be supported

[2017-07-21 09:28] #287 closed

[2017-07-21 12:56] imujjwal96 opened #290 "Extending logfile generation to deployment"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

The LOGFILE is generated only for the logs of docs generation script.
### Expected behaviour

Extend this feature to the logs of Github deployment. This feature is needed as it becomes difficult to understand issues in those scripts without getting detailed logs for them.

[2017-07-21 13:06] pri22296 commented on #290
@imujjwal96 Might I suggest that you extend this issue to also unquiet all commands and send their logs to `LOGFILE`. I see no reason as to why **detailed logs** shouldn't be detailed.

[2017-07-21 13:09] imujjwal96 commented on #290
Thanks for emphasising on it. However, it was already planned :)

[2017-07-21 13:10] imujjwal96 opened #291 "Github pages not published at correct location"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

When we Deploy pages of organisation's repository, they are published at an incorrect location.
I generated docs for my org's repo BrimeNotes/android.git. When i published them, they we published to imujjwal96/android repository.
### Expected behaviour

Docs should be published in the gh-pages branch of the correct reposi

[2017-07-21 19:02] #291 closed

[2017-07-22 08:14] pri22296 opened #294 "README cannot refer to images outside docpath"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

If README refers to images outside docpath, the image isn't included in the build

### Expected behaviour

README should be able to refer to any image in the repo

[2017-07-22 09:52] imujjwal96 opened #295 "Create a dashboard for Yaydoc CI"
### This is a
- [ ] Bug report
- [x] Feature request

### Description
With the current implementation, when the user logs in to Yaydoc CI, a modal is opened. There are several limitations and issues to the current implementation.
* If the modal is closed mistakenly, the user will again have to Sign in to the Yaydoc CI to get that modal again. This wastes a lot of time and resources and can be frus

[2017-07-22 10:39] imujjwal96 commented on #290
@pri22296 @sch00lb0y  Should the logs for deployment processes be stored in the same file or different files

[2017-07-22 10:46] pri22296 commented on #290
I think different files would be better.

[2017-07-22 14:14] #280 closed

[2017-07-22 15:01] sch00lb0y opened #297 "add CI support for sub projects."
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

if subproject updated CI not pushing documentation to github pages
### Expected behaviour

make CI to push documentation to github pages if subprojects updated.

### Steps to reproduce
1.
2.
3.

[2017-07-23 04:22] sch00lb0y commented on #275
@imujjwal96 you working on this?

[2017-07-23 05:19] imujjwal96 commented on #275
Nopsie

[2017-07-23 09:21] #288 closed

[2017-07-23 12:10] mariobehling opened #300 "Add docker image to dockerhub and autodeploy to Google Cloud with Kubernetes"
In order to make Yaydoc into a stable service we need to set up the infrastructure. Docker can help to do this more easily. Please signup on docker.com and join the yaydoc team.

Create a docker file with Kubernetes and deploy automatically to Google cloud.

[2017-07-23 12:11] imujjwal96 commented on #300
I would like to work on this!

[2017-07-23 12:18] mariobehling commented on #300
Great, please check out this to learn from it: https://github.com/fossasia/open-event-orga-server/blob/nextgen/kubernetes/travis/deploy-nextgen.sh

And read the conversations of the last few days on the SUSI AI server channel: https://gitter.im/fossasia/susi_server?at=596dc6970de4d2545e3b2ddd

[2017-07-23 12:23] imujjwal96 commented on #300
Thanks for the links @mariobehling. Will save a lot of time :D

[2017-07-23 14:56] mariobehling opened #301 "Propose and implement tracking and documenting websites that use yaydoc"
How can we track websites that use yaydoc? Could we have a 1 pixel image for example that shows us all PRs? How can we track which projects use our yaml file?

Please propose and implement tracking of projects that use yaydoc.

[2017-07-23 14:58] mariobehling opened #302 "Implement to show if the documentation is available on a repo (similar to travis)"
What kind of buttons could we show on project pages? E.g. could we have a button "yaydoc ok" and "yaydoc failed"?

Please propose and implement a way that projects can include a yaydoc button in their project.

[2017-07-23 15:06] mariobehling opened #303 "Similarly to adding twitter feeds offer an option to add blog feeds"
Wordpress and other blog apps offer xml feeds. Please add an option to display the first section of blog posts through a feed in yaydoc e.g. http://blog.fossasia.org/tag/yaydoc/feed/ .

[2017-07-23 15:09] imujjwal96 commented on #301
We have a database collection having repositories that are registered to Yaydoc.

[2017-07-23 17:18] #290 closed

[2017-07-24 14:37] #295 closed

[2017-07-24 16:04] sch00lb0y opened #305 "Add option to disable the CI in registered repository in Dashboard"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

right now we can't disbale the CI
### Expected behaviour

add a option to disable CI to the registered repository

### Steps to reproduce
1.
2.
3.

[2017-07-24 16:09] imujjwal96 opened #306 "Display a list of registered repositories in User's dashboard"
### This is a
- [ ] Bug report
- [x] Feature request

### Description

A user may not keep track of the repositories he or she have registered. Showing a list of registered repositories will help the user know of their registered repositories.

[2017-07-24 16:15] imujjwal96 opened #307 "Application crashes when the user tries to register non-accessible repository"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

Since we are showing all of an organization's repository that the user has access to, we are letting them perform the Register action on them as well.
![image](https://user-images.githubusercontent.com/8245662/28533053-67ce2f50-70b9-11e7-9491-70cb145ca86c.png)

### Expected behaviour

Either don't show those repositories

[2017-07-24 16:16] #294 closed

[2017-07-24 16:48] pri22296 opened #308 "Add option to display a `Fork me on github` ribbon with link to the repository"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

### Expected behaviour

There should be a config var which if enabled should produce a `Fork me on github` ribbon in the generated docs.

[2017-07-25 07:47] sch00lb0y opened #311 "Tables do not get rendered for docs processed by recommonmark"
### This is a
- [x] Bug report
- [ ] Feature request

Tables not being part of the core commonmark spec aren't supported natively by recommonmark. recommonmark currently does not provide an api to create extensions. So currently table aren't rendered if present in a markdown file processed by recommonmark

[2017-07-25 07:48] sch00lb0y commented on #311
@pri22296 can you check this?

[2017-07-25 10:14] pri22296 commented on #311
It seems recommonmark doesn't support Headings as list elements. As a workaround could you edit this line https://github.com/fossasia/open-event-android/blame/a01dff63e7d1e858489583c42a8c6f64029844f5/docs/apk-generator.md#L57 and https://github.com/fossasia/open-event-android/blame/a01dff63e7d1e858489583c42a8c6f64029844f5/docs/apk-generator.md#L67 so that the numbers are part of the heading and tr

[2017-07-25 10:26] sch00lb0y commented on #311
@pri22296 will check and let you know

[2017-07-26 00:08] mariobehling opened #312 "Create a yaydoc theme for SUSI.AI"
Please take inspiration from the theme at http://chat.susi.ai/overview and follow this approach when you create a SUSI.AI theme.

[2017-07-26 12:29] pri22296 opened #314 "html suffix shouldn't be added to links to sections"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

As @imujjwal96 mentioned in https://github.com/fossasia/query-server/pull/71

### Expected behaviour

For links starting with a `#`, html suffix shouldn't be added.

[2017-07-26 12:48] pri22296 opened #315 "Config variables are not available from the deploy scripts"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

The config is only read from generate.sh script, so DOCURL and HEROKU_APP_NAME are not available in their respective deploy scripts.

### Expected behaviour

The config should be read from each script which requires it.

[2017-07-26 18:14] pri22296 opened #317 "`.yaydoc.yml` in this repo still uses the old design"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

[code]

### Expected behaviour

[code]

[2017-07-26 18:29] #314 closed

[2017-07-27 08:41] imujjwal96 opened #319 "Display build logs of repositories in Yaydoc Dashboard (Similar to travis)"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

A user cannot know if the documentation website for their project is building and deploying or not.
### Expected behaviour

Show logs similar to Travis to show the status of each build
![image](https://user-images.githubusercontent.com/8245662/28661777-73ef192a-72d5-11e7-8df7-d16d85a0eb8b.png)

[2017-07-27 08:46] imujjwal96 opened #320 "Add option to email the build report on completion of docs generation (similar to travis)"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

A user cannot know the status of docs generation (Whether it was successful or not.)
### Expected behaviour

Implement the feature similar to Travis.
![image](https://user-images.githubusercontent.com/8245662/28661920-fdec7334-72d5-11e7-96fc-8024f203077c.png)

[2017-07-27 08:49] imujjwal96 commented on #300
@pri22296  @sch00lb0y  Apparently, Google Cloud requires us to register using a credit card. My cards aren't valid for registration to google cloud so i'll not be able to work on it.

[2017-07-27 08:59] imujjwal96 opened #321 "Add option to completely remove a repository from Yaydoc"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

A user can only register a repository to Yaydoc and there is no option to remove the repository.
### Expected behaviour

The user should be allowed to completely delete the repository from Yaydoc, including the Webhook

[2017-07-27 09:20] pri22296 commented on #300
@imujjwal96 I tried to register but my card is also invalid as per Google cloud. Maybe @sch00lb0y can try this once.

[2017-07-27 09:44] sch00lb0y commented on #300
Even, I have this problem. HSBC and AXIS bank may work. but I don't have one. :sweat:

[2017-07-27 09:57] niranjan94 commented on #300
@imujjwal96 even debits cards work as long as international transactions are enabled. I can say for a fact that ICICI credit cards and debit cards work out-of-box.

[2017-07-27 10:00] imujjwal96 commented on #300
I have Maestro and Rupay cards and both are shown invalid in the registration. I guess they are limited to American Express, MasterCard and Visa.

[2017-07-27 17:27] pri22296 opened #324 "Rewrite config.py to remove old traits"
### This is a
- [ ] Bug report
- [ ] Feature request

### Current behaviour

There are certain remnants from the travis implementation days present in the current config.py.
It also lacks in certain features.

### Expected behaviour

### Steps to reproduce
1.
2.
3.

[2017-07-27 17:36] #308 closed

[2017-07-27 17:36] #306 closed

[2017-07-27 22:12] pri22296 commented on #311
@sch00lb0y Any update on this?

[2017-07-28 06:00] sch00lb0y commented on #311
@pri22296 it is working. but the table is not rendering properly here http://yaydoc.herokuapp.com/preview/rbalajis25@gmail.com/aedc5d53-cf14-43f0-8cd2-8ec0db5d0c62_preview/INSTALLATION_LOCAL.html https://github.com/sch00lb0y/open-event-webapp/blob/development/docs/INSTALLATION_LOCAL.md . I tried a lot but not able to find.

[2017-07-28 06:17] imujjwal96 commented on #311
The table is not rendering because the markdown is incorrect

[2017-07-28 12:12] #307 closed

[2017-07-28 12:12] #275 closed

[2017-07-28 12:13] #317 closed

[2017-07-28 13:24] imujjwal96 commented on #302
I would like to work on this.

In https://github.com/fossasia/yaydoc/pull/326, i have added a buildStatus key for repositories registered to Yaydoc. We can take that value and generate the status badge using https://shields.io/

[2017-07-28 17:59] sch00lb0y opened #328 "add 404 error page"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Stack trace is showing
### Expected behaviour

add a bootstrap 404 page

### Steps to reproduce
1.
2.
3.

[2017-07-28 23:08] #274 closed

[2017-07-29 11:06] pri22296 opened #329 "Removing webhook from a registered repository and registering again leads to being displayed twice"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

![screenshot 196](https://user-images.githubusercontent.com/11555869/28744323-0eb45c3e-747c-11e7-9bdc-f6f925729cf7.png)

### Expected behaviour

[2017-07-29 18:06] imujjwal96 commented on #305
@sch00lb0y Are you working on this? I can see  PR of issues raised after this. Also, i don't see a mention of this in your scrums.

[2017-07-29 18:45] sch00lb0y commented on #305
@imujjwal96 I'll do this. I'll send a PR by tomorrow.

[2017-07-30 08:07] pri22296 opened #332 "Expose theme options to the .yaydoc.yml file"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Currently to specify theme options, user will have to provide a conf.py with the options.

### Expected behaviour

Theme options should be exposed to the yaml file so that users can provide them.
eg.
[code]

### Steps to reproduce
1.
2.
3.

[2017-07-30 09:05] imujjwal96 opened #333 "Access docs generation form after signing in to CI"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

User would have to Log out of the CI dashboard to access the docs generation form to preview and download docs.
### Expected behaviour

Make the form available even after the user is signed in.

[2017-07-30 13:41] pri22296 opened #335 "Links to subprojects are available at <subproject>/<doc_path> route instead of <subproject>"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

The links to subprojects are available at <reponame>/<doc_path> route

### Expected behaviour

They should be available at the <reponame> route.

[2017-07-30 14:09] #320 closed

[2017-07-30 14:55] #315 closed

[2017-07-30 14:55] #324 closed

[2017-07-30 15:50] imujjwal96 opened #337 "DOCURL is not passed to ghpages_deploy.sh"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

| Environment variables in generate script. | Environment variables in ghpages_deploy script |
|-------|----------|
| ![image](https://user-images.githubusercontent.com/8245662/28754893-694b9cc0-756c-11e7-9d8e-8524df9656a0.png) | ![image](https://user-images.githubusercontent.com/8245662/28754920-b52cee8c-756c-11e7-8fc8-3

[2017-07-30 15:50] imujjwal96 commented on #337
@pri22296 Take a look

[2017-07-30 15:57] pri22296 commented on #337
@imujjwal96 How did you obtain the second image? If the script never executed, how did you got it's output?

[2017-07-30 15:59] imujjwal96 commented on #337
I made changes
![image](https://user-images.githubusercontent.com/8245662/28754968-21bc537a-756e-11e7-95ef-c1d5a5f8d718.png)
Thought it was a minor bug.

[2017-07-30 16:16] pri22296 commented on #337
@imujjwal96 This is because config.py cannot find a `.yaydoc.yml` file in the current working directory. Hence you can see that all values in the `deploy_scripts` are actually the defaults. I guess the best solution would be to copy the `.yaydoc.yml` file somewhere from the generate script so that we can reference it from the deploy scripts.

[2017-07-30 16:26] imujjwal96 commented on #337
@pri22296 will you send a separate PR or should i adjust it in an existing PR?

[2017-07-30 16:42] pri22296 commented on #337
If it's urgent, please adjust it in an existing PR.

[2017-07-30 16:43] imujjwal96 commented on #337
Not that urgent. Please submit a new PR :)

[2017-07-30 18:33] sch00lb0y commented on #311
[code]
@imujjwal96 I'm using this still  table not rendering. can you check what went wrong?

[2017-07-30 18:42] imujjwal96 commented on #311
[code]
Try this!

[2017-07-30 18:56] sch00lb0y commented on #311
I have tried but then still not rendering :cry: :cry:

[2017-07-30 19:33] pri22296 commented on #337
No. not at all. Sending a PR now. 😄

[2017-07-30 20:08] pri22296 commented on #311
Ok, It seems tables aren't part of the core commonmark spec. Check this thread for more info https://github.com/rtfd/recommonmark/issues/3

[2017-07-31 08:49] #329 closed

[2017-07-31 11:36] #337 closed

[2017-07-31 11:37] #321 closed

[2017-07-31 11:48] imujjwal96 opened #339 "Remove commit history from gh-pages branch"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

When docs are deployed to github pages branch for the first time, the commit history is retained. This creates fake commits which would be undesirable.
### Expected behaviour

When a new gh-pages branch is created, start from 1st commit.

### Screenshot
![image](https://user-images.githubusercontent.com/8245662/28776671-3

[2017-07-31 12:04] #328 closed

[2017-07-31 12:32] pri22296 opened #340 "Error when deploying to ghpages using one-time deployment"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

The following message is displayed

`Cipher data must be a string or a buffer`

[2017-07-31 12:33] pri22296 commented on #340
@imujjwal96 Please look into this

[2017-07-31 12:38] imujjwal96 commented on #340
@pri22296  that is fixed in #334

[2017-07-31 12:43] pri22296 commented on #340
@imujjwal96 I'll close this after confirming when #334 gets merged.

[2017-07-31 12:44] imujjwal96 commented on #340
In fact, the crypter function in that file was added there while working on a solution to this :)

[2017-07-31 12:53] #333 closed

[2017-07-31 13:21] pri22296 commented on #340
@imujjwal96 Although that error is now fixed, documentation doesn't seem to be really getting pushed to gh-pages branch. The webUI shows documentation pushed successfully, but last commit on my gh-pages branch is still 9 days earlier. Can you please take a look at this?

[2017-07-31 13:22] imujjwal96 commented on #340
OK! I'll check

[2017-08-01 07:02] sch00lb0y opened #342 "send a notification as a mail if access token revoked"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

send a notification saying that access_token revoked and also ask the user to signin once again to continue the service
### Expected behaviour

### Steps to reproduce
1.
2.
3.

[2017-08-01 08:11] #302 closed

[2017-08-01 08:29] imujjwal96 opened #344 "Deploy Yaydoc master to FOSSASIA's Google Cloud"
### This is a
- [ ] Bug report
- [x] Feature request

### Description
The master branch of Yaydoc is currently deployed at Heroku (https://yaydoc.herokuapp.com). However, we cannot rely much on a free tier Heroku app to host Yaydoc due to various limitations.
Hence, there is a need to deploy Yaydoc to FOSSASIA's Google Cloud.

[2017-08-01 08:42] niranjan94 commented on #344
@fossasia/yaydoc-dev-team

This will be a deployment on the Google Container Engine (with Kubernetes) to be specific.

Example configuration for a node.js project available here.
- https://github.com/fossasia/open-event-webapp/tree/development/kubernetes

The basic requirements for it would be:
- A Docker file config and docker image upload to docker hub on each commit to master. (Like this for th

[2017-08-01 08:42] niranjan94 commented on #344
And @imujjwal96 don't you think this is a duplicate of #300

[2017-08-01 09:05] imujjwal96 commented on #344
I thought that issue was for a generic one click deployment like that with Heroku. I guess i'll have to research more on it :smile:

[2017-08-01 09:56] #339 closed

[2017-08-01 09:57] imujjwal96 commented on #340
Fixed by PR https://github.com/fossasia/yaydoc/issues/343

[2017-08-01 09:57] #340 closed

[2017-08-02 07:18] pri22296 opened #345 "Add option to show github buttons"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

### Expected behaviour

Users would have an option to show github buttons, such as watch counts, star counts, etc

### Steps to reproduce
1.
2.
3.

[2017-08-02 16:35] #332 closed

[2017-08-02 16:45] imujjwal96 commented on #305
Closed with PR #336

[2017-08-02 16:45] #305 closed

[2017-08-03 04:55] sch00lb0y opened #349 "show status of the build on PR"
### This is a
- [ ] Bug report
- [x] Feature request

### Description
show the status of the build on each PR using GitHub status API

### Steps to reproduce
1.
2.
3.

[2017-08-03 05:38] imujjwal96 commented on #349
Can you please explain what the expected behaviour is?

[2017-08-03 05:45] sch00lb0y commented on #349
commenting preview link to show the preview of the documentation when the user sends PR. (similar to CodeCov report)

[2017-08-03 05:55] imujjwal96 commented on #349
It will unnecessarily waste our resources. I do not think we should implement it. But that's only my opinion. I would request you to consult mentors about this feature.

[2017-08-03 06:01] niranjan94 commented on #349
Not necessary. This is a documentation project. And documentations are easily readable from the code itself. Instead of this, what you could do is, show status updates via github's status api. Like Travis status you can have build status

[2017-08-03 06:58] pri22296 commented on #227
closing this as it's no longer relevant.

[2017-08-03 06:58] #227 closed

[2017-08-03 07:05] pri22296 opened #350 "Add option to add disqus comments in the generated docs"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

### Expected behaviour

Users would be able to add disqus comments on any page using a simple directive.

### Steps to reproduce
1.
2.
3.

[2017-08-04 09:01] pri22296 opened #351 "Implement a basic string serializer and deserializer for better communication between config.py and conf.py"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Currently, the configuration read using config.py, is serialized to a string format using basic rules such as joining list via comma, converting None to empty string, etc. And then these values are passed to conf.py from generate.sh using bash variables.

### Expected behaviour

Implement a basic serializer moving all con

[2017-08-04 10:20] pri22296 opened #352 "Handle error in yaml file with a error message instead of crashing."
### This is a
- [ ] Bug report
- [ ] Feature request

### Current behaviour

Currently the script crashes with a traceback.

### Expected behaviour

The script should print a message to the console and exit.

[2017-08-05 12:03] mariobehling commented on #350
Description of this issue is incomplete and PR and what is available is very low priority and out of scope. We don't need a discussion in documentation. Please do focus on getting documentation up and running. Please get this project working now.

[2017-08-05 12:03] #350 closed

[2017-08-05 12:32] sch00lb0y opened #356 "create cutom layout from yaml file."
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

user has to provide custom layout in the `_template` folder inorder to override the default theme
### Expected behaviour

Make a parser which takes input from yaml file to creates custom layout and it'll moves  custom layout to the `_template` folder.

### Steps to reproduce
1.
2.
3.

[2017-08-05 16:24] imujjwal96 opened #357 "Edit registered repository's configuration"
### This is a
- [ ] Bug report
- [x] Feature request

### Description

A registered repository can only be enabled, disabled or deleted. There is no option of editing its configurations. Some of these configurations include disabling build status mail service, update hooks, update registrant etc.

[2017-08-05 16:59] imujjwal96 opened #358 "Allow the user to specify a branch to generate docs"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

The documentation for a registered repository is generated at every commit made to the repository. This process happens in commits made to any of the repository's branches except for branches that do not have a `.yaydoc.yml` file and the `gh-pages` branch.
### Expected behaviour

It would be nice if the user can limit the

[2017-08-05 16:59] #319 closed

[2017-08-06 18:07] imujjwal96 opened #360 "App Crashes on performing authorised operations when not logged in"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

The application crashed when a user performs an action without logging in.
### Expected behaviour

The application shouldn't crash. Instead, the user should be redirected to homepage notifying the error

### Steps to reproduce
One of  the notable crashes
1. Login to yaydocCI
2. Clear browser cache
3. Perform repository de

[2017-08-06 18:36] #284 closed

[2017-08-06 18:36] #345 closed

[2017-08-06 19:37] imujjwal96 opened #362 "Stop the build due to a previous commit if a new commit is made"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

When multiple commits are made in a short period of time, the documentation generation process will execute as separate processes. It is possible that the documentation due to a previous commit is deployed after a newer commit.
### Expected behaviour

it was discussed in the official channel that we should stop the deploy

[2017-08-07 09:15] pri22296 opened #364 "Captions of the toctree created by genindex.py do not render as headings"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

![screenshot 208](https://user-images.githubusercontent.com/11555869/29020223-e9dc317a-7b7e-11e7-92ed-33b5ff30c422.png)

The captions are rendered as plain text instead of a heading.

### Expected behaviour

Generate appropriate headings instead of captions in the index.

[2017-08-07 16:49] pri22296 opened #366 "Error when reponame contains dot"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

When reponame contains dot, Only the characters before the first dot are retained hence cloning the incorrect url which leads to a build failure.

### Expected behaviour

The correct reponame should be extracted

### Steps to reproduce
1. Open https://yaydoc.herokuapp.com
2. Fill the form with `GITURL` as `https://github.

[2017-08-08 17:12] imujjwal96 opened #368 "Application crashed when there are no logs for a repository"
### This is a
- [x] Bug report
- [ ] Feature request

### Description

When we register the application to Yaydoc and then access its logs without creating any, the application crashes. This is happening since we use MongoDB lookup. Unwinding the logs inside the repository, an empty result is returned when the repository is empty.

The expected behaviour would be to show a page similar to how trav

[2017-08-08 18:52] #357 closed

[2017-08-08 18:58] #364 closed

[2017-08-08 18:59] #366 closed

[2017-08-09 07:34] sch00lb0y opened #369 "deploy preview to surge"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

preview is generated and kept in heroku. after heroku redeployment preview is getting expired.
### Expected behaviour

generate the preview and deploy the preview to surge

[2017-08-09 13:59] imujjwal96 commented on #239
@pri22296 I suppose we had a PR that solved this

[2017-08-09 14:08] imujjwal96 commented on #303
I think this issue is fixed in PR https://github.com/fossasia/yaydoc/pull/299 @sch00lb0y  Can you confirm?

[2017-08-09 14:09] imujjwal96 commented on #311
@pri22296 @sch00lb0y Is this issue solved?

[2017-08-09 14:18] pri22296 commented on #311
I think it was. @sch00lb0y can you confirm?

[2017-08-09 14:20] pri22296 commented on #239
Yep. Fixed by #365

[2017-08-09 14:21] #239 closed

[2017-08-09 15:03] sch00lb0y commented on #311
yeah solved. but table not rendering. close this ?

[2017-08-09 15:09] sch00lb0y commented on #303
yeah it has been solved.

[2017-08-09 15:18] #303 closed

[2017-08-09 19:27] #351 closed

[2017-08-10 08:13] pri22296 opened #372 "Expose certain properties of the auto-generated index to the yaml file"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

- Right now, the behaviour of autogenerated index is limited in the fact that it hardcodes the fact that a file named README would be included at the top of the generated docs.
- Javadocs if present would be included at the end

To modify any aspect of this index, users have to provide their own index thereby negating the

[2017-08-10 15:47] #368 closed

[2017-08-11 16:34] imujjwal96 opened #374 "Delete build logs along with a repository"
### This is a
- [ ] Bug report
- [x] Feature request

### Description

When a repository is deleted, we delete its web hook and its document from the database collection. Since we are now storing a log history corresponding to each commit, there is a need to delete them alongwith the repository.

[2017-08-11 18:40] imujjwal96 opened #376 "Store commit information along with the build log"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

As of now, the metadata that defined a build contains the build number and the datetime at which it completed execution.
![image](https://user-images.githubusercontent.com/8245662/29227133-468c39b2-7ef2-11e7-926e-1670fda600e5.png)
### Expected behaviour

Storing information like repository commit, branch name etc., (simil

[2017-08-12 05:31] sch00lb0y opened #377 "delete webhook for sub project"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

while deleting repository  webhook is deleted for only one main project
### Expected behavior

while deleting sub project remove webhook for sub project also

[2017-08-12 05:33] sch00lb0y opened #378 "Allow users to update sub projects registered to a master project"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

User can add sub project only while registering sub project.
### Expected behavior

user should have the option to add or remove sub project after registering the project.

### Steps to reproduce
1.
2.
3.

[2017-08-12 09:50] imujjwal96 commented on #377
Delete the webhook for a subproject
* When the master project is deleted
* When the sub project is removed from master's configurations

[2017-08-12 09:53] imujjwal96 commented on #378
The origin title was very vague. Reading the description, I think the updated title is slightly more clear.

[2017-08-12 10:30] #374 closed

[2017-08-12 13:57] #360 closed

[2017-08-12 16:10] imujjwal96 opened #380 "Add header and footer to various routes including repository logs"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

It can be seen from the image below that there is no header or footer shown in the log routes. Hence, to go to the dashboard or homepage, user would need to change the url. Such a UX is not desirable
![image](https://user-images.githubusercontent.com/8245662/29242185-f08bff8e-7fa5-11e7-99b7-938447914444.png)

### Expected

[2017-08-13 10:22] #369 closed

[2017-08-13 10:23] #376 closed

[2017-08-13 10:41] pri22296 opened #382 "Images are not included for subprojects."
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

For subprojects, images aren't displayed.

### Expected behaviour

Images should get displayed properly.

### Steps to reproduce
1. Go to https://yaydoc.herokuapp.com/
2. Generate docs for susi_server repo
3. Visit any sub-projects. Images would not be displayed.

It should be noted that the repo builds properly when it t

[2017-08-13 20:07] #352 closed

[2017-08-13 20:26] pri22296 opened #385 "Error on clicking on latest logs"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

Error message: Cannot read property 'ref' of undefined

### Expected behaviour

Latest logs should be shown

### Steps to reproduce
1. Go to https://yaydoc.herokuapp.com
2. Check the build logs of yaydoc itself
3. click on latest logs

[2017-08-13 20:29] pri22296 commented on #385
@imujjwal96 Please check this

[2017-08-13 21:20] imujjwal96 commented on #385
The content we show now, along with the latest log was not there in the database when the logs were being created before. Hence, we'll have to delete those logs

[2017-08-14 09:22] imujjwal96 opened #386 "Show only the metadata in log history instead of complete logs"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Currently, we retrieve complete logs of all the builds at once. This would consume a lot of our resources and hence should be avoided.
![image](https://user-images.githubusercontent.com/8245662/29265781-eb2d7292-80ff-11e7-93d3-8c61d9c3d602.png)

### Expected behaviour

Retrieve only the metadata for each log and expand a

[2017-08-14 15:28] imujjwal96 opened #387 "Javadocs not generated in a Docker deployement"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

When the documentation for fossasia/susi_server is generated using http://yaydoc.tk, everything works fine, except the javadoc route shows a 404 error
### Expected behaviour

Javadocs should be generated properly.

[2017-08-14 18:56] #380 closed

[2017-08-15 14:57] #372 closed

[2017-08-15 18:29] imujjwal96 opened #390 "Show status and change colour of callout based on status of build"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Looking at the logs, a user cannot find if the build was successful or not. In order to determine the status, user will have to search for it in the logs. Such a UX is not desired
![image](https://user-images.githubusercontent.com/8245662/29330058-9e346fe2-8215-11e7-9e40-382df7ce0abe.png)
### Expected behaviour

Change th

[2017-08-16 19:38] #386 closed

[2017-08-17 08:53] pri22296 opened #393 "Add swagger ui, rss feed and twitter feed to the auto-generated index"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Currently links to those should be manually added to the index.

### Expected behaviour

#372 implemented a system for configuring the behaviour of the auto-generated index. Using that, add the mentioned links to the index if specified.

[2017-08-17 10:53] #349 closed

[2017-08-17 10:57] #8 closed

[2017-08-17 10:59] #120 closed

[2017-08-17 11:00] #129 closed

[2017-08-17 11:01] #297 closed

[2017-08-17 11:02] imujjwal96 commented on #297
Closed via PR https://github.com/fossasia/yaydoc/pull/318

[2017-08-17 11:03] imujjwal96 commented on #349
Closed via PR https://github.com/fossasia/yaydoc/pull/318

[2017-08-17 12:29] imujjwal96 opened #395 "Document steps for Yaydoc installation to Heroku"
### This is a
- [ ] Bug report
- [ ] Feature request
- [x] Documentation request

### Description
Updating documentation by documenting steps for Yaydoc installation to Heroku would help new developers deploy and test the application more effectively.

[2017-08-17 17:13] pri22296 opened #397 "Disable Inline math role of recommonmark by default and allow user to change this"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Currently Inline math role is enabled by default. That means that Strings such as ```$``` are not parsed properly and lead to build error.

### Expected behaviour

Should be disabled by default and a config var should be provided in the yaml file to enable that.

### Steps to reproduce
1. Go to https://yaydoc.herokuapp.co

[2017-08-18 07:40] sch00lb0y opened #399 "show the build logs in CI status"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Yaydoc CI status redirecting to the yaydoc website
### Expected behavior

show the logs on  clicking the detail anchor tag

### Steps to reproduce
1.
2.
3.

[2017-08-18 07:47] imujjwal96 opened #400 "Document steps for generic installation of Yaydoc"
### This is a
- [ ] Bug report
- [ ] Feature request
- [x] Documentation request

### Description

Updating documentation by documenting steps for Yaydoc's generic installation would help new developers test and develop the application more effectively.

[2017-08-18 10:01] #400 closed

[2017-08-18 10:10] #387 closed

[2017-08-18 10:12] #390 closed

[2017-08-18 10:12] #395 closed

[2017-08-18 15:57] #377 closed

[2017-08-19 13:22] #378 closed

[2017-08-19 14:25] imujjwal96 opened #402 "Github access token is shown in deployment logs"
### This is a
- [x] Bug report
- [ ] Feature request

### Description

Checking the logs for documentation deployment, I could see my Github's access token unencrypted. Such a behavior is unexpected

[2017-08-19 14:49] imujjwal96 commented on #382
Closethis?

[2017-08-19 14:50] #382 closed

[2017-08-20 07:40] #402 closed

[2017-08-20 12:12] imujjwal96 opened #405 "Source for documentation of subprojects is taken as `docs`"
### This is a
- [x] Bug report
- [ ] Feature request

### Description
I generated the documentation for https://github.com/BrimeNotes/documentation/ and added other projects as it sub projects. Generating docs from the homepage form and previewing it show the sub projects and their links correctly http://yaydoc.org/preview/ujjwalb1996@gmail.com/5cd9fe88-77d6-4002-b214-3207f616c59d_preview/
But whe

[2017-08-20 12:47] imujjwal96 opened #406 "Use AJAX for toggle event in repository settings"
### This is a
- [ ] Bug report
- [x] Feature request

### Description

There are few toggle events in repository's settings page. These include `Mail Service`, `Pull Request Status`, `Disable repository` among others. In the current implementation, we send a post request to their respective routes in the traditional way. Using AJAX and Bootstrap toggle would improve the UI as well as the UX

[2017-08-20 13:06] imujjwal96 opened #407 "Ask confirmation before deleting subprojects"
### This is a
- [ ] Bug report
- [x] Feature request

### Description

A subproject can be deleted by clicking the Delete button beside them! Asking the user a confirmation to delete the subproject would prevent any goof up from happening.

[2017-08-21 08:49] pri22296 commented on #385
@imujjwal96 close this then?

[2017-08-21 08:51] imujjwal96 commented on #385
Sure!

[2017-08-21 08:51] #385 closed

[2017-08-21 10:39] sch00lb0y opened #410 "extend mail service to smtp2go"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Now yaydoc support only sendgrid.

### Expected behaviour

extend the yaydoc support to smtp2go

[2017-08-21 11:00] imujjwal96 commented on #410
Instead of extending the current implementation to another smtp service. Try something generic.

[2017-08-21 11:02] pri22296 opened #411 "Python dependencies are not pinned to specific version"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

Currently the python dependencies aren't pinned to specific version. This may lead to broken dependencies in future.

### Expected behaviour

Version should be pinned to the latest tested version available currently.

[2017-08-21 15:14] pri22296 opened #413 "Hidden directories are also added in the local toc"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

Currently hidden directories are also searched to look for source files.

### Expected behaviour

They should be ignored. Otherwise contents of directories like `.github` are also included.

[2017-08-21 16:59] #300 closed

[2017-08-21 17:42] imujjwal96 commented on #311
@pri22296 facing this issue in loklak_server as well! is there a workaround?

[2017-08-21 18:41] pri22296 commented on #311
AFAIK no for now. Maybe use an html table for now?

[2017-08-22 15:27] imujjwal96 opened #417 "Document steps for kubernetes deployment of Yaydoc"
### This is a
- [ ] Bug report
- [ ] Feature request
- [x] Documentation request

### Description
Updating documentation by documenting steps for Yaydoc's kubernetes deployment would help new developers deploy and test the application more effectively.

[2017-08-22 18:20] #407 closed

[2017-08-22 18:20] imujjwal96 commented on #311
@pri22296 Please edit this issue's description

[2017-08-23 07:03] #411 closed

[2017-08-23 07:04] #397 closed

[2017-08-23 08:56] sch00lb0y opened #420 "Implemete button to remove the sub projects search bar"
### This is a
- [ ] Bug report
- [x] Feature request

if user click adds sub project button sub project search bar will be appended but there is no way to delete the appended search bar. so implement remove button to remove the sub project search bar.

[2017-08-24 09:37] #417 closed

[2017-08-24 09:37] #413 closed

[2017-08-24 09:38] #393 closed

[2017-08-25 10:48] #406 closed

[2017-08-26 07:23] #311 closed

[2017-08-26 09:04] imujjwal96 opened #425 "Automatic deployment of Yaydoc master and Yaydoc staging"
### This is a
- [ ] Bug report
- [x] Feature request

### Description
in the current implementation, it is expected that Yaydoc is deployed automatically on each commit to the master repository. Since we now have yaydoc-master (yaydoc.org) and yaydoc-staging (staging.yaydoc.org) deployments, they should be updated automatically with commits made to the master and development branch respectively.

[2017-08-27 09:41] pri22296 opened #426 "Add unit test for markdown+ parser and updated genindex script"
### This is a
- [ ] Bug report
- [ ] Feature request

### Current behaviour

The markdown+ parser and ecent changes in genindex.py script aren't unit tested.

### Expected behaviour

Tests should be added

[2017-08-27 11:59] imujjwal96 opened #427 "Update documentation providing a user manual"
### This is a
- [ ] Bug report
- [ ] Feature request
- [x] Documentation request

### Description
It is important that the user's of the project understand the project nicely and easily and for it there is a need to document all the steps and working in detail.

[2017-08-27 13:21] #358 closed

[2017-08-27 17:22] #399 closed

[2017-08-27 17:22] #405 closed

[2017-08-27 18:34] imujjwal96 commented on #312
The theme can be found at https://github.com/fossasia/sphinx_susiai_theme

[2017-08-27 18:34] imujjwal96 commented on #312
@mariobehling Close this?

[2017-08-27 18:39] imujjwal96 commented on #103
@pri22296 https://github.com/jgm/pandoc/issues/3733 is closed. What's the status?

[2017-08-27 18:47] pri22296 commented on #103
Yeah, but It will be while before pandoc 2.0 is released where this change will be included.

[2017-08-28 12:46] imujjwal96 opened #430 "Unauthorised access of Github API on redeployments"
### This is a
- [x] Bug report
- [ ] Feature request

### Description

It is seen that the application fails to work when we perform redeployments. On further research, it was found that the Github API return the `401 Unauthorised` status code. A reason why this could be happening would be the reauthorization of Github OAuth application, which most probably expires the previous tokens.

[2017-08-29 06:09] #427 closed

[2017-08-30 01:19] #430 closed

[2017-08-30 01:19] #426 closed

[2017-08-30 01:20] #420 closed

[2017-08-30 01:20] #410 closed

[2017-08-31 10:19] imujjwal96 opened #433 "Update the UI of the homepage"
### This is a
- [ ] Bug report
- [x] Feature request

### Current behaviour

Currently UI of App Generator is lacking Top navbar, Menu item and Version deployment info
### Expected behaviour

* Add top bar similar to Open Event frontend
* Add menu like Google/Susper on the top right corner (http://susper.com/)
* Add Version deployment info to the bottom like http://staging.loklak.org

[2017-09-05 05:00] gabru-md commented on #433
Can you please tell me what are all the elements that are required to be placed on the top-bar and the Menu bar ? Since I would like to work on this issue and it would be helpful if you could let me know.
Thanks.

[2017-09-05 05:38] imujjwal96 commented on #433
@gabru-md Please refer this PR https://github.com/fossasia/open-event-webapp/pull/1465

[2017-09-05 05:40] imujjwal96 commented on #433
Here's the expected output: https://opev-webgen-dev.herokuapp.com

[2017-09-07 09:39] gabru-md commented on #433
Thank you ! I would like to work on this.

[2017-09-09 14:07] jajodiaraghav commented on #433
Hi @gabru-md
Are you working on this one, or can I take this?

[2017-09-09 15:49] gabru-md commented on #433
Yes I am working on it. Please give me some time I'll be working on it soon

[2017-09-16 16:26] sch00lb0y opened #434 "use gzip to serve web pages"
### This is a
- [ ] Bug report
- [x] Feature request
use `compression` middleware to serve web pages in gzip to increase the performance

[2017-09-18 04:02] yukiisbored commented on #434
This is not something you do from yaydoc's side. This is something you do on the web server.

[2017-09-19 16:51] sch00lb0y opened #435 "Authorized organization avatars are not in same size"
### This is a
- [x] Bug report
- [ ] Feature request
Make the styling to show the avatars in same size
![screenshot-yaydoc herokuapp com-2017-09-19-22-16-11](https://user-images.githubusercontent.com/10010900/30604543-e67cc220-9d88-11e7-949f-201b16910b32.png)

[2017-09-24 13:06] aviaryan opened #436 "yaydoc.org is down - 502"
### This is a
- [x] Bug report
- [ ] Feature request

### Current behaviour

yaydoc.org shows 502.
![screen shot 2017-09-24 at 6 35 38 pm](https://user-images.githubusercontent.com/4047597/30782864-34e6d596-a157-11e7-855d-585f29866dc1.png)

### Expected behavior

The website should work.

----

I would like to work on this if possible.

[2017-09-25 05:18] sch00lb0y commented on #436
@aviaryan actually our deployment is down. FYI We are planning to migrate the deployment from gcp to bluemix. are you working on this?

[2017-09-25 16:56] aviaryan commented on #436
@sch00lb0y Is bluemix free? Do we have a shared account on bluemix where this should be hosted?

[2017-09-26 07:39] sch00lb0y commented on #436
@aviaryan we don't have any shared account. @mariobehling told that Mario can get us vouchers to run deployment. please check this gitter channel for further info https://gitter.im/fossasia/yaydoc

[2017-09-28 13:03] Divya063 commented on #231
@sch00lb0y Can I work on this?

[2017-09-28 22:35] mariobehling opened #438 "Please improve documentation structure of dev.susi.ai"
Please refer to https://github.com/fossasia/susi_server/issues/580

[2017-09-29 11:25] sch00lb0y commented on #231
@Divya063 yeah

[2017-10-08 12:03] imujjwal96 commented on #433
@gabru-md What's the update?

[2017-10-08 12:04] jajodiaraghav commented on #433
It's been more than a month. I think it should be made open for claiming.

[2017-10-08 12:07] imujjwal96 commented on #433
Consider it open! @jajodiaraghav

[2017-10-08 12:09] jajodiaraghav commented on #433
Awesome! Claiming 🚀

Will send a PR soon

[2017-10-09 06:31] imujjwal96 commented on #434
@yukiisbored have a look at this. https://expressjs.com/en/advanced/best-practice-performance.html#use-gzip-compression

It is known that the core change has to be made server side, but even if we do that, it'd not work without including a middleware inside the application

[2017-10-09 15:36] #433 closed

[2017-10-13 10:57] yukiisbored commented on #434
@imujjwal96 That documentation is for people who doesn't use a reverse proxy.

[2017-10-13 11:22] imujjwal96 commented on #434
Oh! Then i guess we can close this.

[2017-10-13 11:22] #434 closed

[2017-10-13 11:23] #181 closed

[2017-10-20 19:08] mariobehling opened #440 "Merge PRs that went to master to development"
Some PRs went to Master branch, but they should have gone to development after we had changed to the development branch as the default branch.

Please help to merge the PRs to the dev branch. Automatically merging is not possible due to a new PR to master.

[2017-10-20 19:14] #425 closed

[2017-10-20 19:14] #435 closed

[2017-10-20 19:15] niranjan94 commented on #440
Resolved ✅

[2017-10-20 19:15] #440 closed

[2017-10-23 13:38] Divya063 commented on #438
@mariobehling Can I work on this?

[2017-10-23 13:39] Divya063 commented on #273
@mariobehling I would like to take this up